Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-yaml, black, isort, ruff, mypy

add-trailing-comma:
  name: Add trailing commas
  entry: add-trailing-comma
  language: python

check-yaml:
  name: Check yaml
  entry: check-yaml
  language: python

black:
  name: Formatting with black
  entry: black
  language: python

isort:
  name: Ensure imports are grouped and sorted
  entry: isort
  language: python
  args:
  - --check
  - --diff
  - --profile=black

ruff:
  name: Lint with ruff
  entry: ruff
  language: python
  args:
  - check
  - --fix

mypy:
  name: Type checking with mypy
  entry: mypy
  language: python
  args:
  - --strict

Tox setup
  pyproject.toml
  tests/unsafe/test_UN013.py
Due: add-trailing-comma, black, isort, ruff, mypy

Update tests
  pyproject.toml
  src/pgrubic/rules/general/GN011.py
  src/pgrubic/rules/general/GN012.py
  src/pgrubic/rules/general/GN013.py
  src/pgrubic/rules/naming/NM001.py
  src/pgrubic/rules/naming/NM002.py
  src/pgrubic/rules/naming/NM003.py
  src/pgrubic/rules/naming/NM004.py
  src/pgrubic/rules/naming/NM005.py
  src/pgrubic/rules/naming/NM006.py
  src/pgrubic/rules/naming/NM007.py
  src/pgrubic/rules/naming/NM009.py
  src/pgrubic/rules/naming/NM015.py
  src/pgrubic/rules/schema/SCM002.py
  src/pgrubic/rules/security/SC001.py
  src/pgrubic/rules/security/SC002.py
  src/pgrubic/rules/typing/TYP015.py
  src/pgrubic/rules/typing/TYP016.py
  tests/unsafe/test_UN013.py
Due: add-trailing-comma, black, isort, ruff, mypy

Fix leftover of line_number integration
  src/pgrubic/core/linter.py
  src/pgrubic/rules/naming/NM010.py
  src/pgrubic/rules/naming/NM011.py
  src/pgrubic/rules/naming/NM012.py
  src/pgrubic/rules/naming/NM013.py
  src/pgrubic/rules/naming/NM014.py
Due: add-trailing-comma, black, isort, ruff, mypy

Update ideas
  pyproject.toml
  src/pgrubic/ideas.txt
Due: none

Move setting code rule to init_subclass
  src/pgrubic/core/linter.py
  src/pgrubic/core/loader.py
  src/test.sql
Due: add-trailing-comma, black, isort, ruff, mypy

Fix tests, update to CST004 and UN010
  src/pgrubic/core/__init__.py
  src/pgrubic/rules/constraint/CST004.py
  src/pgrubic/rules/unsafe/UN010.py
  tests/unsafe/test_UN010.py
  tests/unsafe/test_UN012.py
  tests/unsafe/test_UN013.py
Due: add-trailing-comma, black, isort, ruff, mypy

Add more test cases
  pyproject.toml
  src/pgrubic/rules/unsafe/UN012.py
  src/pgrubic/rules/unsafe/UN013.py
  src/pgrubic/rules/unsafe/UN014.py
  src/pgrubic/rules/unsafe/UN015.py
  src/pgrubic/rules/unsafe/UN016.py
  src/pgrubic/rules/unsafe/UN017.py
  src/pgrubic/rules/unsafe/UN018.py
  src/pgrubic/rules/unsafe/UN019.py
  tests/unsafe/test_UN013.py
  tests/unsafe/test_UN014.py
  tests/unsafe/test_UN015.py
  tests/unsafe/test_UN016.py
Due: add-trailing-comma, black, isort, ruff, mypy

More tests
  src/pgrubic/core/linter.py
  src/pgrubic/ideas.txt
  src/pgrubic/py.typed
  src/pgrubic/rules/unsafe/UN018.py
  src/pgrubic/rules/unsafe/UN019.py
  src/pgrubic/rules/unsafe/UN021.py
  src/pgrubic/rules/unsafe/UN022.py
  src/pgrubic/rules/unsafe/UN023.py
  src/pgrubic/rules/unsafe/UN024.py
  src/pgrubic/rules/unsafe/UN025.py
  src/pgrubic/rules/unsafe/UN026.py
  src/pgrubic/rules/unsafe/UN027.py
  src/pgrubic/rules/unsafe/UN028.py
  src/pgrubic/rules/unsafe/UN029.py
  tests/unsafe/test_UN016.py
  tests/unsafe/test_UN017.py
  tests/unsafe/test_UN018.py
  tests/unsafe/test_UN019.py
  tests/unsafe/test_UN020.py
  tests/unsafe/test_UN021.py
  tests/unsafe/test_UN022.py
  tests/unsafe/test_UN023.py
  tests/unsafe/test_UN024.py
  tests/unsafe/test_UN025.py
  tests/unsafe/test_UN026.py
  tests/unsafe/test_UN027.py
  tests/unsafe/test_UN028.py
  tests/unsafe/test_UN029.py
Due: add-trailing-comma, black, isort, ruff, mypy

Add github action
  .github/workflows/ci.yml
Due: check-yaml

Typing for colorama
  pyproject.toml
Due: none

Install dependencies
  .github/workflows/ci.yml
  pyproject.toml
Due: check-yaml

Docs dependencies
  .github/workflows/ci.yml
  pyproject.toml
Due: check-yaml

Skip install of pgrubic package in tests
  pyproject.toml
Due: none

Merge tests and coverage
  .github/workflows/ci.yml
Due: check-yaml

Install of pgrubic package for tests
  pyproject.toml
Due: none

Update docs
  docs/docs/rules/unsafe/non-concurrent-detach-partition.md
  docs/docs/rules/unsafe/non-concurrent-index-drop.md
  docs/docs/rules/unsafe/non-concurrent-refresh-materialized-view.md
Due: none

Update to SM001
  src/pgrubic/ideas.txt
  src/pgrubic/rules/schema/SM001.py
  src/test.sql
  tests/schema/test_SCM001.py
Due: add-trailing-comma, black, isort, ruff, mypy

Tests for SM001 and SM002
  pyproject.toml
  src/pgrubic/__main__.py
  src/pgrubic/core/linter.py
  src/pgrubic/rules/schema/SM001.py
  src/pgrubic/rules/schema/SM002.py
  src/test.sql
  tests/schema/test_SCM001.py
  tests/schema/test_SCM002.py
Due: add-trailing-comma, black, isort, ruff, mypy

Update github action
  .github/workflows/ci.yml
  pyproject.toml
Due: check-yaml

Update github action
  .github/workflows/ci.yml
Due: check-yaml

Update github action and tox
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/mkdocs.yml
  pyproject.toml
  src/example.sql
  src/new.sql
  src/test2.sql
Due: check-yaml

Update github action and tox
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Due: check-yaml

Update github action and tox
  .github/workflows/ci.yml
Due: check-yaml

Add failfast false
  .github/workflows/ci.yml
Due: check-yaml

Update tox
  pyproject.toml
Due: none

Update github action and tox
  .github/workflows/ci.yml
  pyproject.toml
Due: check-yaml

Cleanup commented code in CI
  .github/workflows/ci.yml
Due: check-yaml

Set indentation for yaml to 2 spaces
  .editorconfig
Due: none

Mypy
  pyproject.toml
  src/pgrubic/py.typed
Due: none

Skip install
  pyproject.toml
Due: none

Path conditions:
  add-trailing-comma: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
  black: any of: \.py$
  isort: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
