Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

.pre-commit-config.yaml:

---
default_language_version:
  python: python3.12

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: local
    hooks:
      - id: conventional-pre-commit
        name: Lint commit messages
        entry: conventional-pre-commit
        language: python
        stages: [commit-msg]
      - id: trailing-whitespace
        stages: [pre-commit]
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
      - id: end-of-file-fixer
        stages: [pre-commit]
        name: Add a blank line at end of a file
        entry: end-of-file-fixer
        language: python
        types: [text]
      - id: mixed-line-ending
        stages: [pre-commit]
        name: Ensure line feed character (LF)
        entry: mixed-line-ending
        language: python
        types: [text]
        args: [--fix=lf]
      - id: add-trailing-comma
        stages: [pre-commit]
        name: Add trailing commas
        entry: add-trailing-comma
        language: python
        types: [python]
      - id: check-ast
        stages: [pre-commit]
        name: Check that files parse as valid python
        entry: check-ast
        language: python
        types: [python]
      - id: check-yaml
        stages: [pre-commit]
        name: Check yaml
        entry: check-yaml
        language: python
        types: [yaml]
        args: [--unsafe]
      - id: yamllint
        stages: [pre-commit]
        name: Lint yaml files
        entry: yamllint
        language: python
        types: [yaml]
        args: [--strict]
      - id: isort
        stages: [pre-commit]
        name: Ensure imports are grouped and sorted
        entry: isort
        language: python
        types: [python]
        args: [--check, --diff, --profile=black]
      - id: ruff
        stages: [pre-commit]
        name: Lint with ruff
        entry: ruff
        language: python
        args: [check, --fix, --config, ./pyproject.toml]
        types: [python]
      - id: mypy
        stages: [pre-commit]
        name: Type checking with mypy
        additional_dependencies: [types-PyYAML]
        entry: mypy
        language: python
        types: [python]
        args: [--config-file=./pyproject.toml]
      - id: interrogate
        name: Docstrings coverage
        entry: interrogate
        language: python
        types: [python]
        args: [--quiet, --fail-under=100, --config=./pyproject.toml]
      - id: bandit
        name: Security analysis with bandit
        entry: bandit
        language: python
        types: [python]
        args: [--recursive, --config=./pyproject.toml]
      # Formatters should be run late so that they can re-format
      # any prior changes
      - id: ruff
        stages: [pre-commit]
        name: Formatting with ruff
        entry: ruff
        language: python
        args: [format]
        types: [python]

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.11.0-1
    hooks:
      - id: shfmt
        name: Format shell scripts
        entry: shfmt
        args: [--indent=4]
        stages: [pre-commit]
        types: [shell]

feat(rule): flag ordinal numbers in groupby
  src/pgrubic/rules/query/QY001.py
  src/pgrubic/rules/query/__init__.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(rule): flag ordinal numbers in orderby
  src/pgrubic/rules/query/QY002.py
  tests/test_loader.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(rule): add documentation
  docs/docs/rules.md
  tests/fixtures/rules/query/QY001.yml
  tests/fixtures/rules/query/QY002.yml
Due: check-yaml, yamllint

feat(rule): add documentation
  docs/docs/rules/query/ordinal-number-group-by.md
  docs/docs/rules/query/ordinal-number-order-by.md
Due: none

feat(rule): extract ordeby ordinal check into a static method
  src/pgrubic/rules/query/QY002.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(rule): use inplace conditionals
  src/pgrubic/rules/query/QY002.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(rule): remove unnecessary install of dev dependencies for build and doc
  pyproject.toml
Due: none

feat(rule): flag ordinal numbers in groupby and orderby (#141)
  docs/docs/rules.md
  docs/docs/rules/query/ordinal-number-group-by.md
  docs/docs/rules/query/ordinal-number-order-by.md
  pyproject.toml
  src/pgrubic/rules/query/QY001.py
  src/pgrubic/rules/query/QY002.py
  src/pgrubic/rules/query/__init__.py
  tests/fixtures/rules/query/QY001.yml
  tests/fixtures/rules/query/QY002.yml
  tests/test_loader.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

docs: add query to rule category
  docs/docs/rules.md
Due: none

docs: add query to rule category (#142)
  docs/docs/rules.md
Due: none

chore: add issue and pull request templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/pull_request_template.md
Due: check-yaml, yamllint

chore: adjust bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: check-yaml, yamllint

chore: add feature request template
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: check-yaml, yamllint

chore: adjust templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: check-yaml, yamllint

chore: add template for discussions
  .github/ISSUE_TEMPLATE/config.yml
Due: check-yaml, yamllint

chore: add issue and pull request templates (#143)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
Due: check-yaml, yamllint

fix(linter): yoda condition operator fixes
  src/pgrubic/__init__.py
  src/pgrubic/rules/general/GN027.py
  src/pgrubic/rules/general/GN031.py
  tests/fixtures/rules/general/GN027.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat(linter): move operator replacements dictionary to class level
  src/pgrubic/rules/general/GN027.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(linter): maintain operator that are not candidate for replacements
  src/pgrubic/rules/general/GN027.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(linter): update operator in place
  src/pgrubic/rules/general/GN027.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(linter): add tests for unmapped operators
  tests/fixtures/rules/general/GN027.yml
Due: check-yaml, yamllint

feat(linter): simplify yoda operators
  src/pgrubic/rules/general/GN027.py
  tests/fixtures/rules/general/GN027.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat(linter): rename yoda_operators to yoda_operators_with_replacements
  src/pgrubic/rules/general/GN027.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(linter): little improvements
  tests/fixtures/rules/general/GN027.yml
Due: check-yaml, yamllint

fix(linter): yoda condition operator fixes (#144)
  src/pgrubic/__init__.py
  src/pgrubic/rules/general/GN027.py
  src/pgrubic/rules/general/GN031.py
  tests/fixtures/rules/general/GN027.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

ci: include latest tag
  .github/workflows/ci.yml
  .github/workflows/doc.yml
  .github/workflows/release.yml
Due: check-yaml, yamllint

ci: include latest tag in docker images (#146)
  .github/workflows/ci.yml
  .github/workflows/doc.yml
  .github/workflows/release.yml
Due: check-yaml, yamllint

fix(linter): flag new not-null column with volatile default
  src/pgrubic/rules/unsafe/US011.py
  tests/fixtures/rules/unsafe/US011.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

fix(linter): update docs
  docs/docs/rules.md
  docs/docs/rules/unsafe/new-not-null-column-with-volatile-default.md
  docs/docs/rules/unsafe/not-null-constraint-on-new-column-with-volatile-default.md
Due: none

fix(linter): update description
  src/pgrubic/rules/unsafe/US011.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(linter): improve type hints
  src/pgrubic/rules/unsafe/US011.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(linter): flag new not-null column with volatile default (#150)
  docs/docs/rules.md
  docs/docs/rules/unsafe/new-not-null-column-with-volatile-default.md
  docs/docs/rules/unsafe/not-null-constraint-on-new-column-with-volatile-default.md
  src/pgrubic/rules/unsafe/US011.py
  tests/fixtures/rules/unsafe/US011.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit
