Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

.pre-commit-config.yaml:

---
default_language_version:
  python: python3.12

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: local
    hooks:
      - id: conventional-pre-commit
        name: Lint commit messages
        entry: conventional-pre-commit
        language: python
        always_run: true
        stages: [commit-msg]
        args: []
      - id: trailing-whitespace
        stages: [pre-commit]
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
      - id: end-of-file-fixer
        stages: [pre-commit]
        name: Add a blank line at end of a file
        entry: end-of-file-fixer
        language: python
        types: [text]
      - id: mixed-line-ending
        stages: [pre-commit]
        name: Ensure line feed character (LF)
        entry: mixed-line-ending
        language: python
        types: [text]
        args: [--fix=lf]
      - id: add-trailing-comma
        stages: [pre-commit]
        name: Add trailing commas
        entry: add-trailing-comma
        language: python
        types: [python]
      - id: check-ast
        stages: [pre-commit]
        name: Check that files parse as valid python
        entry: check-ast
        language: python
        types: [python]
      - id: check-yaml
        stages: [pre-commit]
        name: Check yaml
        entry: check-yaml
        language: python
        types: [yaml]
        args: [--unsafe]
      # Formatters should be run late so that they can re-format
      # any prior changes
      - id: ruff
        stages: [pre-commit]
        name: Formatting with ruff
        entry: ruff
        language: python
        args: [format]
        types: [python]
      - id: isort
        stages: [pre-commit]
        name: Ensure imports are grouped and sorted
        entry: isort
        language: python
        types: [python]
        args: [--check, --diff, --profile=black]
      - id: yamllint
        stages: [pre-commit]
        name: Lint yaml files
        entry: yamllint
        language: python
        types: [yaml]
      - id: ruff
        stages: [pre-commit]
        name: Lint with ruff
        entry: ruff
        language: python
        args: [check, --fix]
        types: [python]
      - id: mypy
        stages: [pre-commit]
        name: Type checking with mypy
        additional_dependencies: [types-PyYAML]
        entry: mypy
        language: python
        types: [python]
        args: [--config-file=./pyproject.toml]

feat: formatter for owner
  src/pgrubic/formatters/ddl/owner.py
  tests/fixtures/formatters/ddl/owner.yml
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

feat: formatter for owner (#57)
  src/pgrubic/formatters/ddl/owner.py
  tests/fixtures/formatters/ddl/owner.yml
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

feat: formatter for schema
  src/pgrubic/formatters/ddl/schema.py
  tests/fixtures/formatters/ddl/schema.yml
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

feat: formatter for schema (#58)
  src/pgrubic/formatters/ddl/schema.py
  tests/fixtures/formatters/ddl/schema.yml
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

chore: setup dependency review action
  .github/workflows/dependency-review.yml
Due: check-yaml, yamllint

chore: set up dependency review action (#64)
  .github/workflows/dependency-review.yml
Due: check-yaml, yamllint

chore: add pr/issue labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: check-yaml, yamllint

chore: add pr/issue labeler
  .github/workflows/labeler.yml
Due: check-yaml, yamllint

chore: labeler for pr against main only
  .github/workflows/labeler.yml
Due: check-yaml, yamllint

chore: include printer and help-wanted
  .github/labeler.yml
Due: check-yaml, yamllint

chore: fix regex for printer, update permission
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: check-yaml, yamllint

chore: add chore
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: check-yaml, yamllint

chore: resync labels
  .github/workflows/labeler.yml
Due: check-yaml, yamllint

chore: add pr/issue labeler based on the title for triage (#66)
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: check-yaml, yamllint

chore: remove leftover comments
  pyproject.toml
Due: none

chore: fix yamllint errors
  .github/dependabot.yml
Due: check-yaml, yamllint

chore: improve docstrings coverage, fix isort path
  pyproject.toml
  src/pgrubic/core/linter.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

chore: setup interrogate for docstrings coverage, enable yamllint in ci
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: check-yaml, yamllint

chore: add config to interrogate
  .pre-commit-config.yaml
Due: check-yaml, yamllint

chore: setup interrogate for docstrings coverage, run yamllint in CI (#65)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/pgrubic/core/linter.py
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

chore(bump): version 0.4.0 → 0.5.0
  CHANGELOG.md
  pyproject.toml
Due: none

chore(lint): allow typing module
  pyproject.toml
Due: none

chore: bump version
  README.md
  docs/docs/tutorial.md
Due: none

chore(bump): version 0.4.0 → 0.5.0 (#70)
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

fix: docker multi platform builds
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: check-yaml, yamllint

fix: docker multi platform builds
  .github/workflows/ci.yml
Due: check-yaml, yamllint

fix: docker multi platform builds (#76)
  .github/workflows/release.yml
Due: check-yaml, yamllint

chore(bump): version 0.5.0 → 0.5.1
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

chore(bump): version 0.5.0 → 0.5.1 (#77)
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none
