Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

add-trailing-comma:
  stages:
  - pre-commit
  name: Add trailing commas
  entry: add-trailing-comma
  language: python

check-ast:
  stages:
  - pre-commit
  name: Check that files parse as valid python
  entry: check-ast
  language: python

check-yaml:
  stages:
  - pre-commit
  name: Check yaml
  entry: check-yaml
  language: python
  args:
  - --unsafe

yamllint:
  stages:
  - pre-commit
  name: Lint yaml files
  entry: yamllint
  language: python
  args:
  - --strict

isort:
  stages:
  - pre-commit
  name: Ensure imports are grouped and sorted
  entry: isort
  language: python
  args:
  - --check
  - --diff
  - --profile=black

ruff:
  stages:
  - pre-commit
  name: Formatting with ruff
  entry: ruff
  language: python
  args:
  - format

mypy:
  stages:
  - pre-commit
  name: Type checking with mypy
  additional_dependencies:
  - types-PyYAML
  entry: mypy
  language: python
  args:
  - --config-file=./pyproject.toml

interrogate:
  name: Docstrings coverage
  entry: interrogate
  language: python
  args:
  - --quiet
  - --fail-under=100
  - --config=./pyproject.toml

bandit:
  name: Security analysis with bandit
  entry: bandit
  language: python
  args:
  - --recursive
  - --config=./pyproject.toml

chore(bump): version 0.10.1 → 0.10.2
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

chore(bump): version 0.10.1 → 0.10.2 (#199)
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

fix(deps): run mypy serially in pre-commit to avoid crashes
  .pre-commit-config.yaml
Due: check-yaml, yamllint

fix(deps): relax msgpack-types until upstream support msgpack 1.2.1
  pyproject.toml
Due: none

fix(deps): fix typing
  pyproject.toml
  src/pgrubic/core/linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: new column with volatile default
  src/pgrubic/__init__.py
  src/pgrubic/postgres/__init__.py
  src/pgrubic/postgres/functions.py
  src/pgrubic/rules/unsafe/US031.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: new column with volatile default
  src/pgrubic/postgres/functions.py
  tests/fixtures/rules/unsafe/US031.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

fix: new column with volatile default
  src/pgrubic/rules/unsafe/US031.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: dedup postgres built-in functions
  src/pgrubic/postgres/functions.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: remove mutation of ast in is_non_volatile_function
  src/pgrubic/__init__.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: use set for the list of known non volatile functions
  src/pgrubic/__init__.py
  src/pgrubic/postgres/functions.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: use set for the list of known non volatile functions
  src/pgrubic/__init__.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: simplify lookup
  src/pgrubic/__init__.py
  src/pgrubic/rules/schema/SM001.py
  tests/fixtures/rules/unsafe/US027.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

fix: revert changes to US027 test
  tests/fixtures/rules/unsafe/US027.yml
Due: check-yaml, yamllint

fix: simplify constraint ancestry
  src/pgrubic/rules/unsafe/US031.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: test normal function call on volatile functions
  tests/fixtures/rules/unsafe/US031.yml
Due: check-yaml, yamllint

fix: add semicolon
  tests/fixtures/rules/unsafe/US031.yml
Due: check-yaml, yamllint

fix: update doc
  pyproject.toml
  src/pgrubic/rules/unsafe/US031.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: new column with volatile default (#210)
  pyproject.toml
  src/pgrubic/__init__.py
  src/pgrubic/postgres/__init__.py
  src/pgrubic/postgres/functions.py
  src/pgrubic/rules/schema/SM001.py
  src/pgrubic/rules/unsafe/US031.py
  tests/fixtures/rules/unsafe/US031.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat: additional allow list of non volatile functions through config
  README.md
  docs/docs/configuration.md
  docs/docs/settings.md
  src/pgrubic/core/config.py
  src/pgrubic/pgrubic.toml
  src/pgrubic/rules/general/GN029.py
  src/pgrubic/rules/unsafe/US027.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: fix US027 test on partition detach
  docs/docs/settings.md
  src/pgrubic/core/config.py
  src/pgrubic/rules/unsafe/US031.py
  tests/fixtures/rules/unsafe/US027.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat: extend test to additional non volatile function
  tests/fixtures/rules/unsafe/US031.yml
Due: check-yaml, yamllint

feat: convert additional non volatile functions to set
  src/pgrubic/rules/unsafe/US031.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: make config dependency of rule explicit, reworked non volatile function lookup
  src/pgrubic/__init__.py
  src/pgrubic/__main__.py
  src/pgrubic/core/config.py
  src/pgrubic/core/linter.py
  src/pgrubic/postgres/__init__.py
  src/pgrubic/postgres/functions.py
  src/pgrubic/rules/unsafe/US031.py
  tests/conftest.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: update postgres functions import path
  src/pgrubic/core/linter.py
  src/pgrubic/postgres/__init__.py
  src/pgrubic/postgres/functions.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: update postgres functions import path
  src/pgrubic/core/linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: rule dependency on config would be treated as a breaking change
  src/pgrubic/__main__.py
  src/pgrubic/core/linter.py
  tests/conftest.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: rule dependency on config would be treated as a breaking change
  tests/conftest.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: additional allow list of non volatile functions (#211)
  README.md
  docs/docs/configuration.md
  docs/docs/settings.md
  src/pgrubic/__init__.py
  src/pgrubic/core/config.py
  src/pgrubic/core/linter.py
  src/pgrubic/pgrubic.toml
  src/pgrubic/postgres/functions.py
  src/pgrubic/rules/general/GN029.py
  src/pgrubic/rules/unsafe/US027.py
  src/pgrubic/rules/unsafe/US031.py
  tests/fixtures/rules/unsafe/US027.yml
  tests/fixtures/rules/unsafe/US031.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat!: make config dependency of rule explicit
  pyproject.toml
  src/pgrubic/__main__.py
  src/pgrubic/core/linter.py
  tests/conftest.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat!: make config dependency of rule explicit
  tests/conftest.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat!: make config dependency of rules explicit (#215)
  pyproject.toml
  src/pgrubic/__main__.py
  src/pgrubic/core/linter.py
  tests/conftest.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

Path conditions:
  add-trailing-comma: any of: \.py$
  check-ast: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  isort: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  interrogate: any of: \.py$
  bandit: any of: \.py$
