Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

add-trailing-comma:
  stages:
  - pre-commit
  name: Add trailing commas
  entry: add-trailing-comma
  language: python

check-ast:
  stages:
  - pre-commit
  name: Check that files parse as valid python
  entry: check-ast
  language: python

check-yaml:
  stages:
  - pre-commit
  name: Check yaml
  entry: check-yaml
  language: python
  args:
  - --unsafe

yamllint:
  stages:
  - pre-commit
  name: Lint yaml files
  entry: yamllint
  language: python
  args:
  - --strict

isort:
  stages:
  - pre-commit
  name: Ensure imports are grouped and sorted
  entry: isort
  language: python
  args:
  - --check
  - --diff
  - --profile=black

ruff:
  stages:
  - pre-commit
  name: Formatting with ruff
  entry: ruff
  language: python
  args:
  - format

mypy:
  stages:
  - pre-commit
  name: Type checking with mypy
  additional_dependencies:
  - types-PyYAML
  entry: mypy
  language: python
  args:
  - --config-file=./pyproject.toml

interrogate:
  name: Docstrings coverage
  entry: interrogate
  language: python
  args:
  - --quiet
  - --fail-under=100
  - --config=./pyproject.toml

bandit:
  name: Security analysis with bandit
  entry: bandit
  language: python
  args:
  - --recursive
  - --config=./pyproject.toml

feat: bump pglast
  pyproject.toml
Due: none

feat: set permission
  .github/workflows/ci.yml
Due: check-yaml, yamllint

feat: use python-matrix anchor in other places
  .github/workflows/ci.yml
Due: check-yaml, yamllint

feat: bump python base image to 3.14
  Dockerfile
  pyproject.toml
Due: none

feat: add docker build to ci
  .github/workflows/ci.yml
Due: check-yaml, yamllint

feat: bump python base image to 3.14
  Dockerfile
Due: none

feat: adjust job name for docker build
  .github/workflows/ci.yml
Due: check-yaml, yamllint

feat: bump msgpack to 1.1.2
  pyproject.toml
Due: none

feat: build with python 3.14 (#164)
  .github/workflows/ci.yml
  Dockerfile
  pyproject.toml
Due: check-yaml, yamllint

chore(bump): version 0.9.0 → 0.10.0
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

chore(bump): version 0.9.0 → 0.10.0 (#166)
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

chore(bump): version 0.10.0 → 0.10.1
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

chore(bump): version 0.10.0 → 0.10.1 (#185)
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

fix(deps): formatting and typing
  src/pgrubic/__main__.py
  src/pgrubic/core/noqa.py
  tests/fixtures/formatters/dml/select.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat: fix typing
  pyproject.toml
  src/pgrubic/__init__.py
  src/pgrubic/__main__.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/loader.py
  src/pgrubic/core/visitors.py
  src/pgrubic/formatters/ddl/database.py
  src/pgrubic/formatters/ddl/enum.py
  src/pgrubic/formatters/ddl/function.py
  src/pgrubic/formatters/ddl/table.py
  src/pgrubic/formatters/dml/boolean.py
  src/pgrubic/formatters/dml/select.py
  src/pgrubic/rules/constraint/CT005.py
  src/pgrubic/rules/constraint/CT006.py
  src/pgrubic/rules/general/GN024.py
  src/pgrubic/rules/general/GN031.py
  src/pgrubic/rules/unsafe/US028.py
  tests/conftest.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(deps): fix vulnerabilities with gitpython
  pyproject.toml
Due: none

fix(deps): fix vulnerabilities with gitpython (#198)
  pyproject.toml
Due: none

Path conditions:
  add-trailing-comma: any of: \.py$
  check-ast: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  isort: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  interrogate: any of: \.py$
  bandit: any of: \.py$
