Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

add-trailing-comma:
  stages:
  - pre-commit
  name: Add trailing commas
  entry: add-trailing-comma
  language: python

check-ast:
  stages:
  - pre-commit
  name: Check that files parse as valid python
  entry: check-ast
  language: python

check-yaml:
  stages:
  - pre-commit
  name: Check yaml
  entry: check-yaml
  language: python
  args:
  - --unsafe

yamllint:
  stages:
  - pre-commit
  name: Lint yaml files
  entry: yamllint
  language: python
  args:
  - --strict

isort:
  stages:
  - pre-commit
  name: Ensure imports are grouped and sorted
  entry: isort
  language: python
  args:
  - --check
  - --diff
  - --profile=black

ruff:
  stages:
  - pre-commit
  name: Formatting with ruff
  entry: ruff
  language: python
  args:
  - format

mypy:
  stages:
  - pre-commit
  name: Type checking with mypy
  additional_dependencies:
  - types-PyYAML
  entry: mypy
  language: python
  args:
  - --config-file=./pyproject.toml

interrogate:
  name: Docstrings coverage
  entry: interrogate
  language: python
  args:
  - --quiet
  - --fail-under=100
  - --config=./pyproject.toml

bandit:
  name: Security analysis with bandit
  entry: bandit
  language: python
  args:
  - --recursive
  - --config=./pyproject.toml

feat: deprecate US011 in favour of US031
  docs/docs/contributing.md
  docs/docs/linter.md
  docs/docs/rules.md
  docs/docs/rules/unsafe/new-not-null-column-with-volatile-default.md
  docs/mkdocs.yml
  docs/rule_docs_generator.py
  pyproject.toml
  src/pgrubic/__init__.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/loader.py
  src/pgrubic/rules/unsafe/US011.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_linter.py
  tests/test_loader.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat: fix tests
  tests/test_loader.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: add rule metadata generator
  docs/rule_metadata_generator.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: make load_rules backward compatible
  docs/docs/rules/unsafe/new-not-null-column-with-volatile-default.md
  docs/rule_docs_generator.py
  src/pgrubic/core/loader.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: document include_deprecated in load_rules
  src/pgrubic/core/loader.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: test deprecated rule exclusion
  tests/test_loader.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: improve base env variable, extract rule documentation base
  docs/docs/contributing.md
  pyproject.toml
  src/pgrubic/__init__.py
  src/pgrubic/core/linter.py
  src/pgrubic/rules/unsafe/US011.py
  tests/test_cli.py
  tests/test_linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: fix doc
  docs/docs/rules.md
Due: none

feat: remove dead code
  docs/rule_metadata_generator.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: update doc
  docs/docs/rules/unsafe/new-not-null-column-with-volatile-default.md
  docs/rule_docs_generator.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: deprecate US011 in favour of US031 (#216)
  docs/docs/contributing.md
  docs/docs/linter.md
  docs/docs/rules.md
  docs/docs/rules/unsafe/new-not-null-column-with-volatile-default.md
  docs/mkdocs.yml
  docs/rule_docs_generator.py
  docs/rule_metadata_generator.py
  pyproject.toml
  src/pgrubic/__init__.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/loader.py
  src/pgrubic/rules/unsafe/US011.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_linter.py
  tests/test_loader.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat: Migrate docs from MkDocs to Zensical
  docs/docs/contributing.md
  docs/docs/formatter.md
  docs/docs/linter.md
  docs/mkdocs.yml
  pyproject.toml
Due: check-yaml, yamllint

feat: normalise versioning
  pyproject.toml
Due: none

feat: update action to use zensical
  .github/workflows/doc.yml
Due: check-yaml, yamllint

feat: fix typo and doc build
  .github/workflows/doc.yml
  docs/docs/formatter.md
Due: check-yaml, yamllint

feat: bump configure-pages
  .github/workflows/doc.yml
Due: check-yaml, yamllint

feat: bump actions
  .github/workflows/doc.yml
Due: check-yaml, yamllint

feat: migrate docs from MkDocs to Zensical (#217)
  .github/workflows/doc.yml
  docs/docs/contributing.md
  docs/docs/formatter.md
  docs/docs/linter.md
  docs/mkdocs.yml
  pyproject.toml
Due: check-yaml, yamllint

chore(bump): version 0.10.2 → 1.0.0
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

chore(bump): version 0.10.2 → 1.0.0 (#218)
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

feat: flag self assigning column in updates
  src/pgrubic/rules/general/GN036.py
  tests/fixtures/rules/general/GN036.yml
  tests/test_loader.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat: flag self assigning column in updates, update from, with aliases
  docs/docs/rules.md
  src/pgrubic/__init__.py
  src/pgrubic/rules/general/GN036.py
  tests/fixtures/rules/general/GN036.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat: rework logic
  src/pgrubic/rules/general/GN036.py
  tests/fixtures/rules/general/GN036.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat: update docstring for get_fully_qualified_name
  src/pgrubic/__init__.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: add doc for GN036
  docs/docs/rules/general/self-assigning-column.md
Due: none

feat: address comments
  src/pgrubic/__init__.py
  src/pgrubic/rules/general/GN036.py
  tests/fixtures/rules/general/GN036.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat: handle cases with subqueries and returning clauses
  src/pgrubic/rules/general/GN036.py
  tests/fixtures/rules/general/GN036.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat: flag self assigning column in updates (#219)
  docs/docs/rules.md
  docs/docs/rules/general/self-assigning-column.md
  src/pgrubic/__init__.py
  src/pgrubic/rules/general/GN036.py
  tests/fixtures/rules/general/GN036.yml
  tests/test_loader.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat: support config overrides
  src/pgrubic/core/config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: test config overrides
  src/pgrubic/core/config.py
  tests/test_config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: update docstring
  src/pgrubic/core/config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

Path conditions:
  add-trailing-comma: any of: \.py$
  check-ast: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  isort: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  interrogate: any of: \.py$
  bandit: any of: \.py$
