Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

.pre-commit-config.yaml:

---
default_language_version:
  python: python3.12

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: local
    hooks:
      - id: conventional-pre-commit
        name: Lint commit messages
        entry: conventional-pre-commit
        language: python
        always_run: true
        stages: [commit-msg]
        args: []
      - id: trailing-whitespace
        stages: [pre-commit]
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
      - id: end-of-file-fixer
        stages: [pre-commit]
        name: Add a blank line at end of a file
        entry: end-of-file-fixer
        language: python
        types: [text]
      - id: mixed-line-ending
        stages: [pre-commit]
        name: Ensure line feed character (LF)
        entry: mixed-line-ending
        language: python
        types: [text]
        args: [--fix=lf]
      - id: add-trailing-comma
        stages: [pre-commit]
        name: Add trailing commas
        entry: add-trailing-comma
        language: python
        types: [python]
      - id: check-ast
        stages: [pre-commit]
        name: Check that files parse as valid python
        entry: check-ast
        language: python
        types: [python]
      - id: check-yaml
        stages: [pre-commit]
        name: Check yaml
        entry: check-yaml
        language: python
        types: [yaml]
        args: [--unsafe]
      # Formatters should be run late so that they can re-format
      # any prior changes
      - id: ruff
        stages: [pre-commit]
        name: Formatting with ruff
        entry: ruff
        language: python
        args: [format]
        types: [python]
      - id: isort
        stages: [pre-commit]
        name: Ensure imports are grouped and sorted
        entry: isort
        language: python
        types: [python]
        args: [--check, --diff, --profile=black]
      - id: yamllint
        stages: [pre-commit]
        name: Lint yaml files
        entry: yamllint
        language: python
        types: [yaml]
      - id: ruff
        stages: [pre-commit]
        name: Lint with ruff
        entry: ruff
        language: python
        args: [check, --fix]
        types: [python]
      - id: mypy
        stages: [pre-commit]
        name: Type checking with mypy
        additional_dependencies: [types-PyYAML]
        entry: mypy
        language: python
        types: [python]
        args: [--config-file=./pyproject.toml]

chore(release): fix release
  .github/workflows/doc.yml
  .github/workflows/release.yml
Due: check-yaml, yamllint

chore(release): fix release
  pyproject.toml
Due: none

chore: Fix release pipelines (#45)
  .github/workflows/doc.yml
  .github/workflows/release.yml
  pyproject.toml
Due: check-yaml, yamllint

docs: keep changelog in sync
  CHANGELOG.md
Due: none

docs: keep changelog in sync (#46)
  CHANGELOG.md
Due: none

chore: Improve docstrings
  src/pgrubic/__init__.py
  src/pgrubic/__main__.py
  src/pgrubic/core/cache.py
  src/pgrubic/core/config.py
  src/pgrubic/core/filters.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/loader.py
  src/pgrubic/core/noqa.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

chore: improve docstrings (#47)
  src/pgrubic/__init__.py
  src/pgrubic/__main__.py
  src/pgrubic/core/cache.py
  src/pgrubic/core/config.py
  src/pgrubic/core/filters.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/loader.py
  src/pgrubic/core/noqa.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

chore: setup dependabot
  .github/dependabot.yml
Due: check-yaml, yamllint

chore: setup dependabot (#48)
  .github/dependabot.yml
Due: check-yaml, yamllint

feat: add rule for checking inline sql function body with wrong language (GN035)
  docs/docs/rules.md
  docs/docs/rules/general/inline-sql-function-body-wrong-language.md
  src/pgrubic/rules/general/GN035.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

chore(doc): remove repeated comment
  docs/docs/index.md
Due: none

chore(ci): add test for GN035
  tests/fixtures/rules/general/GN035.yml
  tests/test_loader.py
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

chore(ci): add test for GN035
  tests/fixtures/rules/general/GN035.yml
Due: check-yaml, yamllint

chore(doc): remove repeated comment
  README.md
Due: none

test: fixing test for GN035
  tests/fixtures/rules/general/GN035.yml
Due: check-yaml, yamllint

chore(ci): fix issue with upgrading pip
  .github/workflows/ci.yml
Due: check-yaml, yamllint

feat: add rule for checking inline sql function body with wrong language (GN035) (#51)
  .github/workflows/ci.yml
  README.md
  docs/docs/index.md
  docs/docs/rules.md
  docs/docs/rules/general/inline-sql-function-body-wrong-language.md
  src/pgrubic/rules/general/GN035.py
  tests/fixtures/rules/general/GN035.yml
  tests/test_loader.py
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

fix: enable all custom formatters
  src/pgrubic/core/loader.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

chore(test): set formatter pytest fixture scope as session
  tests/conftest.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

fix: enable all formatters
  src/pgrubic/core/loader.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

fix: enable all custom formatters (#52)
  src/pgrubic/core/loader.py
  tests/conftest.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

chore(bump): version 0.3.1 → 0.4.0
  CHANGELOG.md
  pyproject.toml
Due: none

chore(bump): version 0.3.1 → 0.4.0 (#53)
  CHANGELOG.md
  pyproject.toml
Due: none

feat: formatter for function
  src/pgrubic/core/noqa.py
  src/pgrubic/formatters/ddl/function.py
  tests/fixtures/formatters/ddl/function.yml
  tests/fixtures/rules/general/GN007.yml
  tests/fixtures/rules/general/GN008.yml
  tests/fixtures/rules/general/GN035.yml
  tests/fixtures/rules/schema/SM002.yml
  tests/fixtures/rules/typing/TP014.yml
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

chore(test): improve coverage
  src/pgrubic/core/noqa.py
  src/pgrubic/formatters/ddl/function.py
  tests/fixtures/formatters/ddl/function.yml
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

test: remove commented fixtures
  tests/fixtures/formatters/ddl/function.yml
Due: check-yaml, yamllint

feat: formatter for alterfunction
  pyproject.toml
  src/pgrubic/formatters/ddl/function.py
  tests/fixtures/formatters/ddl/function.yml
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

feat: add formatter for function/procedure (#54)
  pyproject.toml
  src/pgrubic/core/noqa.py
  src/pgrubic/formatters/ddl/function.py
  tests/fixtures/formatters/ddl/function.yml
  tests/fixtures/rules/general/GN007.yml
  tests/fixtures/rules/general/GN008.yml
  tests/fixtures/rules/general/GN035.yml
  tests/fixtures/rules/schema/SM002.yml
  tests/fixtures/rules/typing/TP014.yml
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy
