Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

.pre-commit-config.yaml:

---
default_language_version:
  python: python3.12

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: local
    hooks:
      - id: conventional-pre-commit
        name: Lint commit messages
        entry: conventional-pre-commit
        language: python
        stages: [commit-msg]
      - id: trailing-whitespace
        stages: [pre-commit]
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
      - id: end-of-file-fixer
        stages: [pre-commit]
        name: Add a blank line at end of a file
        entry: end-of-file-fixer
        language: python
        types: [text]
      - id: mixed-line-ending
        stages: [pre-commit]
        name: Ensure line feed character (LF)
        entry: mixed-line-ending
        language: python
        types: [text]
        args: [--fix=lf]
      - id: add-trailing-comma
        stages: [pre-commit]
        name: Add trailing commas
        entry: add-trailing-comma
        language: python
        types: [python]
      - id: check-ast
        stages: [pre-commit]
        name: Check that files parse as valid python
        entry: check-ast
        language: python
        types: [python]
      - id: check-yaml
        stages: [pre-commit]
        name: Check yaml
        entry: check-yaml
        language: python
        types: [yaml]
        args: [--unsafe]
      - id: yamllint
        stages: [pre-commit]
        name: Lint yaml files
        entry: yamllint
        language: python
        types: [yaml]
        args: [--strict]
      - id: isort
        stages: [pre-commit]
        name: Ensure imports are grouped and sorted
        entry: isort
        language: python
        types: [python]
        args: [--check, --diff, --profile=black]
      - id: ruff
        stages: [pre-commit]
        name: Lint with ruff
        entry: ruff
        language: python
        args: [check, --fix, --config, ./pyproject.toml]
        types: [python]
      - id: mypy
        stages: [pre-commit]
        name: Type checking with mypy
        additional_dependencies: [types-PyYAML]
        entry: mypy
        language: python
        types: [python]
        args: [--config-file=./pyproject.toml]
      - id: interrogate
        name: Docstrings coverage
        entry: interrogate
        language: python
        types: [python]
        args: [--quiet, --fail-under=100, --config=./pyproject.toml]
      - id: bandit
        name: Security analysis with bandit
        entry: bandit
        language: python
        types: [python]
        args: [--recursive, --config=./pyproject.toml]
      # Formatters should be run late so that they can re-format
      # any prior changes
      - id: ruff
        stages: [pre-commit]
        name: Formatting with ruff
        entry: ruff
        language: python
        args: [format]
        types: [python]

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.11.0-1
    hooks:
      - id: shfmt
        name: Format shell scripts
        entry: shfmt
        args: [--indent=4]
        stages: [pre-commit]
        types: [shell]

docs: fix cache-dir environment variable name in config docs
  src/pgrubic/core/config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

docs: fix cache-dir environment variable name in config docs
  docs/docs/settings.md
Due: none

docs: fix cache-dir environment variable name in config docs (#258)
  docs/docs/settings.md
  src/pgrubic/core/config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

chore(bump): version 1.3.0 → 2.0.0
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

chore(release): fix format
  CHANGELOG.md
Due: none

chore(bump): version 1.3.0 → 2.0.0 (#259)
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

docs: document other installation options
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

docs: document other installation options
  README.md
  docs/docs/tutorial.md
Due: none

docs: document other installation options (#260)
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

chore(release): generate github release notes from previous tag
  .github/workflows/release.yml
Due: check-yaml, yamllint

chore(release): keep release to actual release
  .github/workflows/release.yml
Due: check-yaml, yamllint

chore(release): keep prerelease tag
  .github/workflows/release.yml
Due: check-yaml, yamllint

chore(release): sort stable release above prereleases
  .github/workflows/release.yml
Due: check-yaml, yamllint

chore(release): default shallow checkout
  .github/workflows/release.yml
Due: check-yaml, yamllint

chore(release): generate github release notes from preceding tag (#261)
  .github/workflows/release.yml
Due: check-yaml, yamllint

docs: add comments on the default configuration
  README.md
  docs/docs/configuration.md
  src/pgrubic/pgrubic.toml
Due: none

docs: fix typos
  README.md
  docs/docs/configuration.md
  src/pgrubic/pgrubic.toml
Due: none

docs: address comments
  README.md
  docs/docs/configuration.md
  src/pgrubic/pgrubic.toml
Due: none

docs: improve comments
  README.md
  docs/docs/configuration.md
  src/pgrubic/pgrubic.toml
Due: none

docs: add comments on the default configuration (#262)
  README.md
  docs/docs/configuration.md
  src/pgrubic/pgrubic.toml
Due: none

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

Update CNAME
  CNAME
Due: none

docs: update link references to point to updated domain
  README.md
  docs/docs/rules/unsafe/new-not-null-column-with-volatile-default.md
  src/pgrubic/__init__.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

docs: update link references to point to updated domain (#263)
  README.md
  docs/docs/rules/unsafe/new-not-null-column-with-volatile-default.md
  src/pgrubic/__init__.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

docs: add reference to web version of pgrubic
  README.md
  docs/docs/index.md
  docs/docs/tutorial.md
Due: none

docs: add reference to web-hosted version of pgrubic (#264)
  README.md
  docs/docs/index.md
  docs/docs/tutorial.md
Due: none

docs: update documentation on no-cache to match current expectation
  docs/docs/settings.md
  src/pgrubic/core/config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit
