Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

add-trailing-comma:
  stages:
  - pre-commit
  name: Add trailing commas
  entry: add-trailing-comma
  language: python

check-ast:
  stages:
  - pre-commit
  name: Check that files parse as valid python
  entry: check-ast
  language: python

check-yaml:
  stages:
  - pre-commit
  name: Check yaml
  entry: check-yaml
  language: python
  args:
  - --unsafe

yamllint:
  stages:
  - pre-commit
  name: Lint yaml files
  entry: yamllint
  language: python
  args:
  - --strict

isort:
  stages:
  - pre-commit
  name: Ensure imports are grouped and sorted
  entry: isort
  language: python
  args:
  - --check
  - --diff
  - --profile=black

ruff:
  stages:
  - pre-commit
  name: Formatting with ruff
  entry: ruff
  language: python
  args:
  - format

mypy:
  stages:
  - pre-commit
  name: Type checking with mypy
  additional_dependencies:
  - types-PyYAML
  entry: mypy
  language: python
  args:
  - --config-file=./pyproject.toml

interrogate:
  name: Docstrings coverage
  entry: interrogate
  language: python
  args:
  - --quiet
  - --fail-under=100
  - --config=./pyproject.toml

bandit:
  name: Security analysis with bandit
  entry: bandit
  language: python
  args:
  - --recursive
  - --config=./pyproject.toml

feat(linter): break loop early, improve type hints
  src/pgrubic/rules/unsafe/US031.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(linter): flag unsafe new column defaults
  docs/docs/rules/unsafe/new-column-with-volatile-default.md
  src/pgrubic/rules/unsafe/US031.py
  tests/fixtures/rules/unsafe/US031.yml
  tests/test_loader.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat(linter): flag unsafe new column defaults (#151)
  docs/docs/rules/unsafe/new-column-with-volatile-default.md
  src/pgrubic/rules/unsafe/US031.py
  tests/fixtures/rules/unsafe/US031.yml
  tests/test_loader.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

chore(bump): version 0.7.0 → 0.8.0
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

chore(bump): version 0.7.0 → 0.8.0 (#152)
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

chore: add prepare-release script
  docs/docs/contributing.md
  tools/prepare_release.sh
Due: none

chore: add prepare-release script (#154)
  docs/docs/contributing.md
  tools/prepare_release.sh
Due: none

docs: add US031 to list of rules
  docs/docs/rules.md
Due: none

docs: add US031 to list of rules (#155)
  docs/docs/rules.md
Due: none

feat(linter): add lint report
  src/pgrubic/__main__.py
  src/pgrubic/core/linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(linter): link rule code to doc
  src/pgrubic/core/linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(linter): use list comprehension for generating the rows
  src/pgrubic/core/linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(linter): replace open/write pathlib with write_text
  src/pgrubic/__main__.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(linter): have default lint report file as a constant
  src/pgrubic/core/linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(linter): document that the lint report file is overwritten
  src/pgrubic/core/linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(linter): test lint report generation
  tests/test_cli.py
  tests/test_linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(linter): formatting
  src/pgrubic/core/errors.py
  src/pgrubic/core/linter.py
  tests/test_linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(linter): formatting
  src/pgrubic/core/linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(linter): add lint report (#156)
  src/pgrubic/__main__.py
  src/pgrubic/core/errors.py
  src/pgrubic/core/linter.py
  tests/test_cli.py
  tests/test_linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(formatter): handle new lines during errors
  src/pgrubic/core/formatter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: remove unused variable
  src/pgrubic/core/linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(formatter): handle new lines during errors (#157)
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

chore(bump): version 0.8.0 → 0.9.0
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

chore(bump): version 0.8.0 → 0.9.0 (#158)
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

docs: document lint report option
  docs/docs/cli.md
Due: none

docs: document lint report option (#160)
  docs/docs/cli.md
Due: none

feat: python 3.14
  .github/workflows/ci.yml
Due: check-yaml, yamllint

feat: reusable yaml anchor for python versions
  .github/workflows/ci.yml
Due: check-yaml, yamllint

Path conditions:
  add-trailing-comma: any of: \.py$
  check-ast: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  isort: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  interrogate: any of: \.py$
  bandit: any of: \.py$
