Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

add-trailing-comma:
  stages:
  - pre-commit
  name: Add trailing commas
  entry: add-trailing-comma
  language: python

check-ast:
  stages:
  - pre-commit
  name: Check that files parse as valid python
  entry: check-ast
  language: python

check-yaml:
  stages:
  - pre-commit
  name: Check yaml
  entry: check-yaml
  language: python
  args:
  - --unsafe

yamllint:
  stages:
  - pre-commit
  name: Lint yaml files
  entry: yamllint
  language: python
  args:
  - --strict

isort:
  stages:
  - pre-commit
  name: Ensure imports are grouped and sorted
  entry: isort
  language: python
  args:
  - --check
  - --diff
  - --profile=black

ruff:
  stages:
  - pre-commit
  name: Formatting with ruff
  entry: ruff
  language: python
  args:
  - format

mypy:
  stages:
  - pre-commit
  name: Type checking with mypy
  additional_dependencies:
  - types-PyYAML
  entry: mypy
  language: python
  args:
  - --config-file=./pyproject.toml

interrogate:
  name: Docstrings coverage
  entry: interrogate
  language: python
  args:
  - --quiet
  - --fail-under=100
  - --config=./pyproject.toml

bandit:
  name: Security analysis with bandit
  entry: bandit
  language: python
  args:
  - --recursive
  - --config=./pyproject.toml

fix: recaching of a source should not invalidate other sources already in the cache (#104)
  src/pgrubic/__main__.py
  src/pgrubic/core/cache.py
  tests/test_cache.py
  tests/test_cli.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

chore(bump): version 0.6.0 → 0.6.1
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

docs: add doc for release
  docs/docs/contributing.md
Due: none

chore(bump): version 0.6.0 → 0.6.1 (#105)
  CHANGELOG.md
  README.md
  docs/docs/contributing.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

refactor: simplify extract statements logic
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/noqa.py
  tests/test_noqa.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

refactor: process lint ignore and format skip per statement instead of statements
  src/pgrubic/__main__.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/noqa.py
  tests/test_noqa.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

refactor: process file ignores and skip format independent of the statements
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/noqa.py
  tests/test_noqa.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

docs: add cannonical url
  .github/workflows/doc.yml
  docs/mkdocs.yml
Due: check-yaml, yamllint

docs: add canonical url (#110)
  .github/workflows/doc.yml
  docs/mkdocs.yml
Due: check-yaml, yamllint

docs: disable directory urls due to static website
  docs/mkdocs.yml
Due: check-yaml, yamllint

docs: disable directory urls due to static website (#111)
  docs/mkdocs.yml
Due: check-yaml, yamllint

docs: remove cannonical url
  docs/mkdocs.yml
Due: check-yaml, yamllint

docs: remove canonical url (#112)
  docs/mkdocs.yml
Due: check-yaml, yamllint

fix(linter): reset ansi escape character sequence
  src/pgrubic/core/linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(linter): reset ansi escape character sequence (#114)
  src/pgrubic/core/linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

chore(bump): version 0.6.1 → 0.6.2
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

chore(bump): version 0.6.1 → 0.6.2 (#115)
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

fix(linter): end of line mismatch causing fixes
  src/pgrubic/core/linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(linter): bytes comparison is redundant
  src/pgrubic/core/linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(linter): false-positive fixes caused by mismatched trailing newlines (#118)
  src/pgrubic/core/linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

chore(bump): version 0.6.2 → 0.6.3
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

chore(bump): version 0.6.2 → 0.6.3 (#119)
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

feat(linter): add support for linting SQL statements inside PostgreSQL DO blocks
  src/pgrubic/core/do_block.py
  src/pgrubic/core/linter.py
  src/pgrubic/rules/do_block_mixin.py
  tests/test_do_block.py
  tests/test_pglogical_do_blocks.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

Path conditions:
  add-trailing-comma: any of: \.py$
  check-ast: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  isort: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  interrogate: any of: \.py$
  bandit: any of: \.py$
