Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

add-trailing-comma:
  name: Add trailing commas
  entry: add-trailing-comma
  language: python

check-yaml:
  name: Check yaml
  entry: check-yaml
  language: python
  args:
  - --unsafe

ruff:
  name: Lint with ruff
  entry: ruff
  language: python
  args:
  - check
  - --fix

isort:
  name: Ensure imports are grouped and sorted
  entry: isort
  language: python
  args:
  - --check
  - --diff
  - --profile=black

yamllint:
  name: Lint yaml files
  entry: yamllint
  language: python

mypy:
  name: Type checking with mypy
  entry: mypy
  language: python
  args:
  - --config-file=./pyproject.toml

fix: break the loop of extracting file level noqa as soon as the first token is not a comment, little formatting in loader
  src/pgrubic/core/loader.py
  src/pgrubic/core/noqa.py
Due: add-trailing-comma, ruff, isort, mypy

feat: adjust TP017 to match the new signature, add target-postgres-version config
  src/pgrubic/pgrubic.toml
  src/pgrubic/rules/typing/TP017.py
  tests/test_noqa.py
Due: add-trailing-comma, ruff, isort, mypy

feat: add --no-cache option to skip reading cache when formatting files
  src/pgrubic/__main__.py
Due: add-trailing-comma, ruff, isort, mypy

chore: improve documentations
  .pre-commit-config.yaml
  docs/docs/assets/favicon.png
  docs/docs/assets/logo.png
  docs/docs/assets/pgrubic.png
  docs/docs/index.md
  docs/docs/linter.md
  docs/docs/settings.md
  docs/docs/tutorial.md
  docs/mkdocs.yml
  src/pgrubic/rules/general/GN020.py
  src/pgrubic/rules/general/GN024.py
  src/pgrubic/rules/general/GN026.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

feat: add --add-file-level-general-noqa for rolling out, add no-cache option to config
  src/pgrubic/__main__.py
  src/pgrubic/core/cache.py
  src/pgrubic/core/config.py
  src/pgrubic/core/noqa.py
  src/pgrubic/pgrubic.toml
  tests/test_cli.py
  tests/test_noqa.py
Due: add-trailing-comma, ruff, isort, mypy

tests: add test for --no-cache option
  tests/test_cli.py
Due: add-trailing-comma, ruff, isort, mypy

tests: add test for --no-cache option
  docs/mkdocs.yml
  tests/test_cli.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

fix: downloads badge
  README.md
Due: none

chore: improve documentations
  README.md
  docs/docs/cli.md
  docs/docs/configuration.md
  docs/docs/contributing.md
  docs/docs/index.md
  docs/docs/license.md
  docs/docs/linter.md
  docs/docs/rules.md
  docs/docs/settings.md
  docs/docs/tutorial.md
  docs/mkdocs.yml
  docs/settings_doc_generator.py
  src/pgrubic/core/config.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

chore: improve documentations
  CONTRIBUTING.md
  docs/docs/contributing.md
  docs/mkdocs.yml
Due: check-yaml, yamllint

chore: improve documentations
  README.md
  docs/docs/cli.md
  docs/docs/css/extra.css
  docs/docs/license.md
  docs/docs/linter.md
  docs/docs/rules.md
  docs/docs/settings.md
  docs/docs/tutorial.md
Due: none

feat: add formatter for rename
  src/pgrubic/formatters/ddl/rename.py
Due: add-trailing-comma, ruff, isort, mypy

chore: update type hint in cache
  docs/docs/settings.md
  src/pgrubic/__main__.py
  src/pgrubic/core/cache.py
  tests/test_cache.py
Due: add-trailing-comma, ruff, isort, mypy

chore: update documentations
  CONTRIBUTING.md
  README.md
  docs/docs/contributing.md
  docs/docs/linter.md
  docs/docs/rules.md
  docs/docs/tutorial.md
Due: none

chore: update documentations
  README.md
  docs/docs/index.md
Due: none

tests: improve coverage
  src/pgrubic/formatters/dml/boolean.py
  src/pgrubic/formatters/dml/cte.py
  src/pgrubic/formatters/dml/select.py
  src/pgrubic/formatters/dml/update.py
  tests/fixtures/formatters/ddl/view.yml
  tests/fixtures/formatters/dml/cte.yml
  tests/fixtures/formatters/dml/select.yml
  tests/fixtures/formatters/dml/update.yml
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

chore: replace abs with find_nearest
  src/pgrubic/rules/general/GN017.py
  src/pgrubic/rules/general/GN027.py
Due: add-trailing-comma, ruff, isort, mypy

chore: upgrade pglast
  pyproject.toml
Due: none

chore: improve report
  src/pgrubic/__main__.py
  src/pgrubic/core/linter.py
Due: add-trailing-comma, ruff, isort, mypy

chore: improve join, select, delete formatters
  src/pgrubic/formatters/dml/join.py
  src/pgrubic/formatters/dml/select.py
  tests/fixtures/formatters/dml/delete.yml
  tests/fixtures/formatters/dml/join.yml
  tests/fixtures/formatters/dml/select.yml
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

Improve coverage
  src/pgrubic/formatters/ddl/rename.py
  src/pgrubic/formatters/dml/update.py
  tests/fixtures/formatters/ddl/constraint.yml
  tests/fixtures/formatters/ddl/database.yml
  tests/fixtures/formatters/ddl/enum.yml
  tests/fixtures/formatters/ddl/table.yml
  tests/fixtures/formatters/dml/update.yml
  tests/test_linter.py
  tests/test_loader.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

We have 101 rules
  tests/test_loader.py
Due: add-trailing-comma, ruff, isort, mypy

chore: Improve documentation
  docs/docs/linter.md
  docs/docs/settings.md
  docs/docs/tutorial.md
  docs/settings_doc_generator.py
Due: add-trailing-comma, ruff, isort, mypy

chore: improve documentations
  docs/docs/configuration.md
  docs/docs/formatter.md
  docs/docs/index.md
  docs/docs/linter.md
  docs/docs/settings.md
  docs/docs/tutorial.md
Due: none

chore: improve documentation, disallow acceptance of plain fmt for skipping formatting
  src/pgrubic/core/config.py
  src/pgrubic/core/noqa.py
  tests/fixtures/formatters/skip_format.yml
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

chore: revert gitattributes and remove favicon
  .gitattributes
  docs/docs/assets/favicon.png
Due: none

feat: add rule to check for stringified null
  docs/docs/formatter.md
  docs/docs/rules/general/stringified-null.md
  src/pgrubic/rules/general/GN031.py
  tests/fixtures/rules/general/GN031.yml
  tests/test_loader.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

chore: add png as binary
  .gitattributes
Due: none

chore: add comments about generation of coverage report
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Due: check-yaml, yamllint

feat: add rule to check for stringified null (#27)
  .gitattributes
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  docs/docs/formatter.md
  docs/docs/rules/general/stringified-null.md
  src/pgrubic/rules/general/GN031.py
  tests/fixtures/rules/general/GN031.yml
  tests/test_loader.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

fix: logo resolution
  docs/mkdocs.yml
Due: check-yaml, yamllint

fix: logo resolution (#28)
  docs/mkdocs.yml
Due: check-yaml, yamllint

feat: add rules to check for duplicate index, primary key, unique key columns
  docs/docs/rules.md
  docs/docs/rules/constraint/duplicate-primary-key-column.md
  docs/docs/rules/constraint/duplicate-unique-key-column.md
  docs/docs/rules/general/duplicate-index-column.md
  src/pgrubic/formatters/ddl/index.py
  src/pgrubic/rules/constraint/CT005.py
  src/pgrubic/rules/constraint/CT006.py
  src/pgrubic/rules/general/GN009.py
  src/pgrubic/rules/general/GN010.py
  src/pgrubic/rules/general/GN032.py
  tests/fixtures/rules/constraint/CT005.yml
  tests/fixtures/rules/constraint/CT006.yml
  tests/fixtures/rules/general/GN032.yml
  tests/test_loader.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

feat: add rules to check for duplicate index, primary key, unique key columns (#29)
  docs/docs/rules.md
  docs/docs/rules/constraint/duplicate-primary-key-column.md
  docs/docs/rules/constraint/duplicate-unique-key-column.md
  docs/docs/rules/general/duplicate-index-column.md
  src/pgrubic/formatters/ddl/index.py
  src/pgrubic/rules/constraint/CT005.py
  src/pgrubic/rules/constraint/CT006.py
  src/pgrubic/rules/general/GN009.py
  src/pgrubic/rules/general/GN010.py
  src/pgrubic/rules/general/GN032.py
  tests/fixtures/rules/constraint/CT005.yml
  tests/fixtures/rules/constraint/CT006.yml
  tests/fixtures/rules/general/GN032.yml
  tests/test_loader.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

Path conditions:
  add-trailing-comma: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
  ruff: any of: \.py$
  isort: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  mypy: any of: \.py$
