Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

add-trailing-comma:
  stages:
  - pre-commit
  name: Add trailing commas
  entry: add-trailing-comma
  language: python

check-ast:
  stages:
  - pre-commit
  name: Check that files parse as valid python
  entry: check-ast
  language: python

check-yaml:
  stages:
  - pre-commit
  name: Check yaml
  entry: check-yaml
  language: python
  args:
  - --unsafe

yamllint:
  stages:
  - pre-commit
  name: Lint yaml files
  entry: yamllint
  language: python
  args:
  - --strict

isort:
  stages:
  - pre-commit
  name: Ensure imports are grouped and sorted
  entry: isort
  language: python
  args:
  - --check
  - --diff
  - --profile=black

ruff:
  stages:
  - pre-commit
  name: Formatting with ruff
  entry: ruff
  language: python
  args:
  - format

mypy:
  stages:
  - pre-commit
  name: Type checking with mypy
  additional_dependencies:
  - types-PyYAML
  entry: mypy
  language: python
  args:
  - --config-file=./pyproject.toml

interrogate:
  name: Docstrings coverage
  entry: interrogate
  language: python
  args:
  - --quiet
  - --fail-under=100
  - --config=./pyproject.toml

bandit:
  name: Security analysis with bandit
  entry: bandit
  language: python
  args:
  - --recursive
  - --config=./pyproject.toml

fix: dependabot casing issue
  pyproject.toml
Due: none

chore: dependabot casing issue (#282)
  pyproject.toml
Due: none

chore(release): release 3.0.0
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

chore: update uv.lock for release preparation
  pyproject.toml
Due: none

chore(release): release 3.0.0
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
  uv.lock
Due: none

chore(release): release 3.0.0 (#285)
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
  uv.lock
Due: none

chore: optimise source checkout
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/doc.yml
  .github/workflows/release.yml
Due: check-yaml, yamllint

chore: optimise gitHub actions checkout (#286)
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/doc.yml
  .github/workflows/release.yml
Due: check-yaml, yamllint

fix(formatter): preserve PostgreSQL 18 DDL semantics
  src/pgrubic/core/formatter.py
  src/pgrubic/formatters/ddl/constraint.py
  src/pgrubic/formatters/ddl/database.py
  src/pgrubic/formatters/ddl/function.py
  src/pgrubic/formatters/ddl/table.py
  tests/fixtures/formatters/ddl/column.yml
  tests/fixtures/formatters/ddl/constraint.yml
  tests/fixtures/formatters/ddl/database.yml
  tests/fixtures/formatters/ddl/function.yml
  tests/fixtures/formatters/ddl/table.yml
  tests/fixtures/rules/general/GN003.yml
  tests/test_formatters.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

fix(formatter): preserve PostgreSQL 18 DDL semantics
  src/pgrubic/formatters/ddl/constraint.py
  tests/fixtures/formatters/ddl/constraint.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

fix(formatter): ensure consistent enforcement output
  src/pgrubic/formatters/ddl/constraint.py
  tests/fixtures/formatters/ddl/constraint.yml
  tests/test_formatters.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

fix: rename write_keyword as write_as_keyword
  src/pgrubic/core/formatter.py
  src/pgrubic/formatters/ddl/database.py
  tests/test_formatters.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: remove dead code
  tests/test_formatters.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: update write_as_keyword signature
  src/pgrubic/core/formatter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: update fixtures
  tests/fixtures/formatters/ddl/database.yml
Due: check-yaml, yamllint

fix: update docstring
  src/pgrubic/formatters/ddl/constraint.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: maintain option
  src/pgrubic/formatters/ddl/database.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(formatter): preserve DDL syntax during formatting (#289)
  src/pgrubic/core/formatter.py
  src/pgrubic/formatters/ddl/constraint.py
  src/pgrubic/formatters/ddl/database.py
  src/pgrubic/formatters/ddl/function.py
  src/pgrubic/formatters/ddl/table.py
  tests/fixtures/formatters/ddl/column.yml
  tests/fixtures/formatters/ddl/constraint.yml
  tests/fixtures/formatters/ddl/database.yml
  tests/fixtures/formatters/ddl/function.yml
  tests/fixtures/formatters/ddl/table.yml
  tests/fixtures/rules/general/GN003.yml
  tests/test_formatters.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

fix: handle missing body in functions, procedures and do blocks
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/postgres/functions.py
  tests/test_formatters.py
  tests/test_linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: update diag message
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  tests/test_formatters.py
  tests/test_linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: handle missing body in functions, procedures and do blocks (#291)
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/postgres/functions.py
  tests/test_formatters.py
  tests/test_linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

docs: list supported operating systems
  README.md
  docs/docs/index.md
Due: none

docs: list supported operating systems (#292)
  README.md
  docs/docs/index.md
Due: none

fix: preserve transaction statements
  src/pgrubic/core/noqa.py
  tests/fixtures/formatters/transaction.yml
  tests/fixtures/rules/transaction.yml
  tests/test_noqa.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

fix: formatting
  src/pgrubic/core/noqa.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: remove duplicated tests
  tests/test_noqa.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(core): replace msgpack with msgspec
  pyproject.toml
  src/pgrubic/core/cache.py
  uv.lock
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: improve statement extraction logic
  src/pgrubic/core/noqa.py
  tests/test_linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: preserve statements in transaction blocks (#293)
  src/pgrubic/core/noqa.py
  tests/fixtures/formatters/transaction.yml
  tests/fixtures/rules/transaction.yml
  tests/test_linter.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

Path conditions:
  add-trailing-comma: any of: \.py$
  check-ast: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  isort: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  interrogate: any of: \.py$
  bandit: any of: \.py$
