Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

add-trailing-comma:
  name: Add trailing commas
  entry: add-trailing-comma
  language: python

check-yaml:
  name: Check yaml
  entry: check-yaml
  language: python
  args:
  - --unsafe

ruff:
  name: Lint with ruff
  entry: ruff
  language: python
  args:
  - check
  - --fix

isort:
  name: Ensure imports are grouped and sorted
  entry: isort
  language: python
  args:
  - --check
  - --diff
  - --profile=black

yamllint:
  name: Lint yaml files
  entry: yamllint
  language: python

mypy:
  name: Type checking with mypy
  entry: mypy
  language: python
  args:
  - --config-file=./pyproject.toml

Update coverage data
  data.json
Due: none

Fix release pipeline
  .github/workflows/release.yml
Due: check-yaml, yamllint

Fix release pipeline (#18)
  .github/workflows/release.yml
Due: check-yaml, yamllint

Release 0.1.1
  pyproject.toml
Due: none

Bump version to 0.1.1 (#19)
  pyproject.toml
Due: none

Exclude S105 from tests
  pyproject.toml
Due: none

Fix release pipeline (#20)
  .github/workflows/release.yml
  pyproject.toml
Due: check-yaml, yamllint

Fix release pipeline (#21)
  .github/workflows/release.yml
Due: check-yaml, yamllint

Fix release pipeline (#22)
  .github/workflows/release.yml
Due: check-yaml, yamllint

Tests python3.13
  .github/workflows/ci.yml
  pyproject.toml
  src/pgrubic/core/__init__.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

Tests python3.13
  pyproject.toml
Due: none

Update version
  pyproject.toml
Due: none

Remove leftover files
  src/example.sql
  src/new.sql
  src/pgrubic/ideas.txt
  src/pgrubic/node_location.md
  src/test.sql
  src/test2.sql
  test.sql
  test2.sql
Due: none

Tests python3.13 (#23)
  .github/workflows/ci.yml
  pyproject.toml
  src/example.sql
  src/new.sql
  src/pgrubic/core/__init__.py
  src/pgrubic/ideas.txt
  src/pgrubic/node_location.md
  src/test.sql
  src/test2.sql
  test.sql
  test2.sql
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

Fix classifier
  pyproject.toml
Due: none

Fix classifier (#24)
  pyproject.toml
Due: none

Update license
  pyproject.toml
Due: none

Fix classifiers (#25)
  pyproject.toml
Due: none

Formatter for table statements
  pyproject.toml
  src/pgrubic/formatters/ddl/alter_table.py
  src/pgrubic/formatters/ddl/create_db.py
  src/pgrubic/formatters/ddl/create_enum.py
  src/pgrubic/formatters/ddl/create_index.py
  src/pgrubic/formatters/ddl/create_table.py
  src/pgrubic/formatters/ddl/database.py
  src/pgrubic/formatters/ddl/enum.py
  src/pgrubic/formatters/ddl/table.py
  src/pgrubic/formatters/dml/select.py
  tests/fixtures/formatters/ddl/database.yml
  tests/fixtures/formatters/ddl/enum.yml
  tests/fixtures/formatters/ddl/table.yml
  tests/fixtures/rules/general/GN003.yml
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

Formatter for constraints
  src/pgrubic/formatters/ddl/constraint.py
  src/pgrubic/formatters/ddl/table.py
  src/pgrubic/rules/general/GN021.py
  tests/fixtures/formatters/ddl/constraint.yml
  tests/fixtures/formatters/ddl/table.yml
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

Formatter for columns
  src/pgrubic/formatters/ddl/constraint.py
  src/pgrubic/formatters/ddl/create_index.py
  src/pgrubic/formatters/ddl/database.py
  src/pgrubic/formatters/ddl/enum.py
  src/pgrubic/formatters/ddl/table.py
  src/pgrubic/formatters/ddl/view.py
  tests/fixtures/formatters/ddl/constraint.yml
  tests/fixtures/rules/constraint/CT001.yml
  tests/fixtures/rules/constraint/CT002.yml
  tests/fixtures/rules/unsafe/US012.yml
  tests/fixtures/rules/unsafe/US013.yml
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

Formatter for columns
  src/pgrubic/formatters/ddl/table.py
  src/pgrubic/formatters/ddl/view.py
  src/pgrubic/formatters/dml/cte.py
  src/pgrubic/formatters/dml/delete.py
  src/pgrubic/formatters/dml/insert.py
  tests/fixtures/formatters/cte.yml
  tests/fixtures/formatters/ddl/constraint.yml
  tests/fixtures/formatters/ddl/enum.yml
  tests/fixtures/formatters/ddl/table.yml
  tests/fixtures/formatters/delete.yml
  tests/fixtures/formatters/insert.yml
  tests/fixtures/formatters/select.yml
  tests/fixtures/formatters/update.yml
  tests/test_formatters.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

Formatter for ddl
  src/pgrubic/formatters/ddl/column.py
  src/pgrubic/formatters/ddl/index.py
  tests/fixtures/formatters/ddl/column.yml
  tests/fixtures/formatters/ddl/index.yml
  tests/fixtures/formatters/ddl/view.yml
  tests/fixtures/formatters/dml/cte.yml
  tests/fixtures/formatters/dml/delete.yml
  tests/fixtures/formatters/dml/insert.yml
  tests/fixtures/formatters/dml/select.yml
  tests/fixtures/formatters/dml/update.yml
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

chore: add more badges, update project description
  README.md
  pyproject.toml
Due: none

Ensure PNG files are treated as binary
  .gitattributes
  docs/docs/assets/pgrubic.png
Due: none

chore: improve documentation
  .github/workflows/doc.yml
  README.md
  docs/docs/configuration.md
  docs/docs/formatter.md
  docs/docs/index.md
  docs/docs/linter.md
  docs/docs/tutorial.md
  docs/mkdocs.yml
Due: check-yaml, yamllint

fix: cache files only in writeback mode, print violations outside of linter, report status when there are no violations
  src/pgrubic/__main__.py
  src/pgrubic/core/linter.py
Due: add-trailing-comma, ruff, isort, mypy

fix: handle cases of missing config key
  src/pgrubic/core/config.py
  src/pgrubic/core/errors.py
Due: add-trailing-comma, ruff, isort, mypy

Path conditions:
  add-trailing-comma: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
  ruff: any of: \.py$
  isort: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  mypy: any of: \.py$
