Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

add-trailing-comma:
  stages:
  - pre-commit
  name: Add trailing commas
  entry: add-trailing-comma
  language: python

check-ast:
  stages:
  - pre-commit
  name: Check that files parse as valid python
  entry: check-ast
  language: python

check-yaml:
  stages:
  - pre-commit
  name: Check yaml
  entry: check-yaml
  language: python
  args:
  - --unsafe

yamllint:
  stages:
  - pre-commit
  name: Lint yaml files
  entry: yamllint
  language: python
  args:
  - --strict

isort:
  stages:
  - pre-commit
  name: Ensure imports are grouped and sorted
  entry: isort
  language: python
  args:
  - --check
  - --diff
  - --profile=black

ruff:
  stages:
  - pre-commit
  name: Formatting with ruff
  entry: ruff
  language: python
  args:
  - format

mypy:
  stages:
  - pre-commit
  name: Type checking with mypy
  additional_dependencies:
  - types-PyYAML
  entry: mypy
  language: python
  args:
  - --config-file=./pyproject.toml

interrogate:
  name: Docstrings coverage
  entry: interrogate
  language: python
  args:
  - --quiet
  - --fail-under=100
  - --config=./pyproject.toml

bandit:
  name: Security analysis with bandit
  entry: bandit
  language: python
  args:
  - --recursive
  - --config=./pyproject.toml

fix(config): replace list values when merging configuration
  src/pgrubic/core/config.py
  tests/test_config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(config): replace list values when merging configuration
  src/pgrubic/core/config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(config): replace list values when merging configuration (#249)
  src/pgrubic/core/config.py
  tests/test_config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(formatter): honor configured formatting in function printers
  src/pgrubic/formatters/ddl/function.py
  tests/fixtures/formatters/ddl/function.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

fix(formatter): honor configured formatting in function printers (#250)
  src/pgrubic/formatters/ddl/function.py
  tests/fixtures/formatters/ddl/function.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat(config): sync documentation
  docs/docs/cli.md
  pyproject.toml
Due: none

feat(config): add support overrides from cli
  src/pgrubic/__main__.py
  tests/test_cli.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(config): add support overrides from cli
  src/pgrubic/cli_help.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(config): add cli doc generator
  docs/cli_docs_generator.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(config): validate lint and format config section
  src/pgrubic/core/config.py
  tests/test_cli.py
  tests/test_config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(config): support config overrides from cli (#248)
  docs/cli_docs_generator.py
  docs/docs/cli.md
  pyproject.toml
  src/pgrubic/__main__.py
  src/pgrubic/cli_help.py
  src/pgrubic/core/config.py
  tests/test_cli.py
  tests/test_config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

docs: update documented default configuration references
  README.md
  docs/docs/configuration.md
  pyproject.toml
  tools/ensure_up_to_date_docs.sh
Due: none

docs: update documented default configuration references
  docs/config_docs_generator.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

docs: update documented default configuration references (#251)
  README.md
  docs/config_docs_generator.py
  docs/docs/configuration.md
  pyproject.toml
  tools/ensure_up_to_date_docs.sh
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat!: validate config"
  pyproject.toml
  src/pgrubic/core/config.py
  src/pgrubic/rules/general/__init__.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat!: dedup lint format include/exclude
  src/pgrubic/core/config.py
  tests/test_config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat!: validate config (#252)
  pyproject.toml
  src/pgrubic/core/config.py
  src/pgrubic/rules/general/__init__.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(rule): crash on fix in US020
  src/pgrubic/rules/unsafe/US020.py
  tests/fixtures/rules/unsafe/US020.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

fix(rule): crash on fix in US020 (#254)
  src/pgrubic/rules/unsafe/US020.py
  tests/fixtures/rules/unsafe/US020.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

fix(rule): duplicate index leak across linter runs
  src/pgrubic/rules/general/GN025.py
  tests/test_rules.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(rule): prevent duplicate-index state from leaking across lint sessions (#255)
  src/pgrubic/rules/general/GN025.py
  tests/test_rules.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

refactor: narrow typing any annotations
  src/pgrubic/core/config.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/visitors.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

refactor: narrow typing any annotations (#253)
  src/pgrubic/core/config.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/visitors.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(cli): allow lint violations to exit with 0 via -e, --exit-zero
  docs/docs/cli.md
  src/pgrubic/__main__.py
  tests/test_cli.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(cli): allow lint violations to exit with 0 via -e, --exit-zero
  docs/docs/cli.md
  src/pgrubic/__main__.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(cli): allow lint violations to exit with 0 via -e, --exit-zero (#256)
  docs/docs/cli.md
  src/pgrubic/__main__.py
  tests/test_cli.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(cli): avoid rewriting and misreporting already-formatted files
  src/pgrubic/__main__.py
  tests/test_cli.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(cli): ensure uppercase-keywords
  tests/test_cli.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(cli): use deterministic modified time
  tests/test_cli.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(cli): avoid rewriting and misreporting already-formatted files (#257)
  src/pgrubic/__main__.py
  tests/test_cli.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

Path conditions:
  add-trailing-comma: any of: \.py$
  check-ast: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  isort: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  interrogate: any of: \.py$
  bandit: any of: \.py$
