Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-yaml, black, isort, ruff, mypy

.pre-commit-config.yaml:

default_language_version:
  python: python3.12

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
      - id: end-of-file-fixer
        name: Add a blank line at end of a file
        entry: end-of-file-fixer
        language: python
        types: [text]
      - id: mixed-line-ending
        name: Ensure line feed character (LF)
        entry: mixed-line-ending
        language: python
        types: [text]
        args: [--fix=lf]
      - id: add-trailing-comma
        name: Add trailing commas
        entry: add-trailing-comma
        language: python
        types: [python]
      # - id: check-ast
      #   name: Check that files parse as valid python
      #   entry: check-ast
      #   language: python
      #   types: [python]
      - id: check-yaml
        name: Check yaml
        entry: check-yaml
        language: python
        types: [yaml]
      # Formatters should be run late so that they can re-format any prior changes.
      - id: black
        name: Formatting with black
        entry: black
        language: python
        types: [python]
      - id: isort
        name: Ensure imports are grouped and sorted
        entry: isort
        language: python
        types: [python]
        args: [--check, --diff, --profile=black]
      - id: ruff
        name: Lint with ruff
        entry: ruff
        language: python
        args: [check, --fix]
        types: [python]
      - id: mypy
        name: Type checking with mypy
        entry: mypy
        language: python
        types: [python]
        args: [--strict]

Add typing dependencies
  pyproject.toml
Due: none

First try at customed formatter
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/ideas.txt
  src/test.sql
  tests/schema/test_SCM002.py
Due: add-trailing-comma, black, isort, ruff, mypy

More tests, formatter, bug fixes
  .pre-commit-config.yaml
  pyproject.toml
  src/pgrubic/core/formatter.py
  src/pgrubic/ideas.txt
  src/pgrubic/rules/general/GN001.py
  src/pgrubic/rules/general/GN002.py
  src/pgrubic/rules/general/GN003.py
  src/pgrubic/rules/typing/TP008.py
  src/test.sql
  tests/constraint/test_CST001.py
  tests/constraint/test_CST002.py
  tests/constraint/test_CST003.py
  tests/general/__init__.py
  tests/general/test_GN001.py
  tests/general/test_GN002.py
  tests/general/test_GN003.py
Due: add-trailing-comma, check-yaml, black, isort, ruff, mypy

More tests
  src/pgrubic/rules/general/GN004.py
  src/pgrubic/rules/general/GN009.py
  src/pgrubic/rules/general/GN010.py
  tests/general/test_GN003.py
  tests/general/test_GN004.py
  tests/general/test_GN005.py
  tests/general/test_GN006.py
  tests/general/test_GN007.py
  tests/general/test_GN008.py
  tests/general/test_GN009.py
  tests/general/test_GN010.py
Due: add-trailing-comma, black, isort, ruff, mypy

More tests, add wrongly typed required column
  docs/docs/rules/general/drop-cascade.md
  docs/docs/rules/general/remove-required-column.md
  docs/docs/rules/general/required-column-removal.md
  docs/docs/rules/general/wrongly-typed-required-column.md
  pyproject.toml
  src/pgrubic/__init__.py
  src/pgrubic/core/__init__.py
  src/pgrubic/core/config.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/formatters/__init__.py
  src/pgrubic/core/formatters/ddl.py
  src/pgrubic/core/formatters/dml.py
  src/pgrubic/ideas.txt
  src/pgrubic/rules/general/GN010.py
  src/pgrubic/rules/general/GN011.py
  src/pgrubic/rules/general/GN013.py
  src/pgrubic/rules/general/GN015.py
  src/pgrubic/rules/general/GN028.py
  src/pgrubic/rules/general/__init__.py
  src/pgrubic/rules/schema/SM001.py
  src/test.sql
  tests/general/test_GN011.py
  tests/general/test_GN012.py
  tests/general/test_GN013.py
  tests/general/test_GN014.py
  tests/general/test_GN015.py
  tests/general/test_GN028.py
  tests/schema/test_SCM001.py
Due: add-trailing-comma, black, isort, ruff, mypy

More tests
  pyproject.toml
  src/pgrubic/rules/general/GN016.py
  src/test.sql
  tests/general/test_GN014.py
  tests/general/test_GN016.py
Due: add-trailing-comma, black, isort, ruff, mypy

More tests, added check for asterisk in select statements
  docs/docs/rules/general/astar.md
  docs/docs/rules/general/delete-without-where-clause.md
  docs/docs/rules/general/forbid-delete-without-where-clause.md
  docs/docs/rules/general/forbid-update-without-where-clause.md
  docs/docs/rules/general/update-without-where-clause.md
  pyproject.toml
  src/pgrubic/rules/general/GN016.py
  src/pgrubic/rules/general/GN017.py
  src/pgrubic/rules/general/GN020.py
  src/pgrubic/rules/general/GN021.py
  src/pgrubic/rules/general/GN022.py
  src/pgrubic/rules/general/GN023.py
  src/pgrubic/rules/general/GN024.py
  src/pgrubic/rules/general/GN025.py
  src/pgrubic/rules/general/GN026.py
  src/pgrubic/rules/general/GN027.py
  src/pgrubic/rules/general/GN029.py
  src/test.sql
  src/test2.sql
  tests/general/test_GN010.py
  tests/general/test_GN014.py
  tests/general/test_GN015.py
  tests/general/test_GN016.py
  tests/general/test_GN017.py
  tests/general/test_GN018.py
  tests/general/test_GN019.py
  tests/general/test_GN020.py
  tests/general/test_GN021.py
  tests/general/test_GN022.py
  tests/general/test_GN023.py
  tests/general/test_GN024.py
  tests/general/test_GN025.py
  tests/general/test_GN026.py
  tests/general/test_GN027.py
  tests/general/test_GN029.py
Due: add-trailing-comma, black, isort, ruff, mypy

More tests for typing
  src/pgrubic/rules/typing/TP004.py
  tests/typing/test_TP002.py
  tests/typing/test_TP003.py
  tests/typing/test_TP004.py
  tests/typing/test_TP005.py
Due: add-trailing-comma, black, isort, ruff, mypy

More tests for typing
  docs/mkdocs.yml
  pgrubic.toml
  src/pgrubic/rules/typing/TP006.py
  src/pgrubic/rules/typing/TP009.py
  src/test.sql
  tests/typing/test_TP005.py
  tests/typing/test_TP006.py
  tests/typing/test_TP007.py
  tests/typing/test_TP008.py
  tests/typing/test_TP009.py
  tests/typing/test_TP010.py
  tests/typing/test_TP011.py
  tests/typing/test_TP012.py
  tests/typing/test_TP013.py
  tests/typing/test_TP014.py
  tests/typing/test_TP015.py
Due: add-trailing-comma, check-yaml, black, isort, ruff, mypy

More tests for typing
  src/pgrubic/rules/typing/TP016.py
  tests/typing/test_TP016.py
  tests/typing/test_TP017.py
Due: add-trailing-comma, black, isort, ruff, mypy

More tests for typing
  docs/docs/rules/typing/mismatch-column-in-data-type-change.md
  src/pgrubic/rules/typing/TP018.py
  tests/typing/test_TP018.py
Due: add-trailing-comma, black, isort, ruff, mypy

Tests for security
  src/pgrubic/rules/security/ST001.py
  src/test.sql
  tests/security/__init__.py
  tests/security/test_ST001.py
  tests/security/test_ST002.py
Due: add-trailing-comma, black, isort, ruff, mypy

Tests for naming
  pgrubic.toml
  src/pgrubic/rules/naming/NM002.py
  src/pgrubic/rules/naming/NM003.py
  src/pgrubic/rules/naming/NM004.py
  src/pgrubic/rules/security/ST002.py
Due: add-trailing-comma, black, isort, ruff, mypy

Tests for naming
  tests/naming/__init__.py
  tests/naming/test_NM001.py
  tests/naming/test_NM002.py
  tests/naming/test_NM003.py
  tests/naming/test_NM004.py
Due: add-trailing-comma, black, isort, ruff, mypy

Tests for naming
  src/pgrubic/ideas.txt
  src/pgrubic/rules/naming/NM001.py
  src/pgrubic/rules/naming/NM005.py
  src/pgrubic/rules/naming/NM006.py
  src/pgrubic/rules/naming/NM007.py
  src/test.sql
  tests/naming/test_NM001.py
  tests/naming/test_NM002.py
  tests/naming/test_NM003.py
  tests/naming/test_NM004.py
  tests/naming/test_NM005.py
  tests/naming/test_NM006.py
  tests/naming/test_NM007.py
Due: add-trailing-comma, black, isort, ruff, mypy

Tests for naming
  src/pgrubic/rules/naming/NM009.py
  src/pgrubic/rules/naming/NM010.py
  tests/naming/test_NM008.py
  tests/naming/test_NM009.py
  tests/naming/test_NM010.py
Due: add-trailing-comma, black, isort, ruff, mypy

Tests for naming
  src/pgrubic/core/loader.py
  src/pgrubic/rules/naming/NM010.py
  src/pgrubic/rules/naming/NM011.py
  src/pgrubic/rules/naming/NM012.py
  src/test.sql
  tests/naming/test_NM010.py
  tests/naming/test_NM011.py
  tests/naming/test_NM012.py
Due: add-trailing-comma, black, isort, ruff, mypy

More tests for naming, tests for noqa
  docs/rule_docs_generator.py
  pgrubic.toml
  src/pgrubic/core/config.py
  src/pgrubic/core/errors.py
  src/pgrubic/core/noqa.py
  src/pgrubic/ideas.txt
  src/pgrubic/pgrubic.toml
  src/pgrubic/rules/general/GN011.py
  src/pgrubic/rules/naming/NM013.py
  src/pgrubic/rules/naming/NM014.py
  src/pgrubic/rules/naming/NM015.py
  src/pgrubic/rules/naming/NM016.py
  src/pgrubic/rules/naming/__init__.py
  src/test.sql
  tests/naming/test_NM013.py
  tests/naming/test_NM014.py
  tests/naming/test_NM015.py
  tests/naming/test_NM016.py
  tests/test_noqa.py
Due: add-trailing-comma, black, isort, ruff, mypy

More coverage
  pgrubic.toml
  pyproject.toml
  src/pgrubic/__main__.py
  src/pgrubic/core/__init__.py
  src/pgrubic/core/filters.py
  src/pgrubic/core/loader.py
  src/pgrubic/rules/naming/NM011.py
  tests/test_entry.py
  tests/test_filters.py
  tests/test_loader.py
Due: add-trailing-comma, black, isort, ruff, mypy

More coverage
  docs/rule_docs_generator.py
  pyproject.toml
  tests/test_loader.py
Due: add-trailing-comma, black, isort, ruff, mypy

Setup docs deployment
  .github/workflows/docs.yml
  .yamllint
  docs/mkdocs.yml
  pyproject.toml
Due: check-yaml

Test with pull request
  .github/workflows/docs.yml
Due: check-yaml

Rename doc deployment and only deploy from master
  .github/workflows/doc.yml
Due: check-yaml

Backport configurations in documentations
  .github/workflows/ci.yml
  pyproject.toml
  src/pgrubic/rules/general/GN012.py
  src/pgrubic/rules/general/GN013.py
  src/pgrubic/rules/general/GN028.py
  src/pgrubic/rules/general/GN030.py
  src/pgrubic/rules/naming/NM001.py
  src/pgrubic/rules/naming/NM002.py
  src/pgrubic/rules/naming/NM003.py
  src/pgrubic/rules/naming/NM004.py
  src/pgrubic/rules/naming/NM005.py
  src/pgrubic/rules/naming/NM006.py
  src/pgrubic/rules/naming/NM007.py
  src/pgrubic/rules/naming/NM009.py
  src/pgrubic/rules/schema/SM002.py
  src/pgrubic/rules/security/ST001.py
  src/pgrubic/rules/security/ST002.py
  src/pgrubic/rules/typing/TP014.py
  src/pgrubic/rules/typing/TP015.py
  tools/ensure_up_to_date_docs.sh
Due: add-trailing-comma, check-yaml, black, isort, ruff, mypy

Ensure docs are up to date
  pyproject.toml
  tools/ensure_up_to_date_docs.sh
Due: none

Ensuring docs are up to date
  tools/ensure_up_to_date_docs.sh
Due: none

Ensuring docs are up to date
  src/pgrubic/rules/general/GN030.py
Due: add-trailing-comma, black, isort, ruff, mypy

Coverage badge
  .github/workflows/ci.yml
Due: check-yaml

Coverage badge
  .github/workflows/ci.yml
  pyproject.toml
Due: check-yaml
