Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

add-trailing-comma:
  name: Add trailing commas
  entry: add-trailing-comma
  language: python

check-yaml:
  name: Check yaml
  entry: check-yaml
  language: python
  args:
  - --unsafe

ruff:
  name: Lint with ruff
  entry: ruff
  language: python
  args:
  - check
  - --fix

isort:
  name: Ensure imports are grouped and sorted
  entry: isort
  language: python
  args:
  - --check
  - --diff
  - --profile=black

yamllint:
  name: Lint yaml files
  entry: yamllint
  language: python

mypy:
  name: Type checking with mypy
  entry: mypy
  language: python
  args:
  - --config-file=./pyproject.toml

Fixtures for typing rules
  backlog.md
  pgrubic.toml
  src/new.sql
  tests/fixtures/rules/naming/NM001.yml
  tests/fixtures/rules/naming/NM002.yml
  tests/fixtures/rules/naming/NM003.yml
  tests/fixtures/rules/typing/TP015.yml
  tests/fixtures/rules/typing/TP016.yml
  tests/fixtures/rules/typing/TP017.yml
  tests/fixtures/rules/typing/TP018.yml
  tests/naming/test_NM001.py
  tests/naming/test_NM002.py
  tests/typing/__init__.py
  tests/typing/test_TP015.py
  tests/typing/test_TP016.py
  tests/typing/test_TP017.py
  tests/typing/test_TP018.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

Fixtures for naming rules
  backlog.md
  pgrubic.toml
  src/new.sql
  src/pgrubic/core/config.py
  src/pgrubic/rules/naming/NM007.py
  src/pgrubic/rules/naming/NM010.py
  src/pgrubic/rules/naming/NM011.py
  src/pgrubic/rules/naming/NM013.py
  src/pgrubic/rules/naming/NM014.py
  src/pgrubic/rules/naming/__init__.py
  tests/fixtures/rules/naming/NM004.yml
  tests/fixtures/rules/naming/NM005.yml
  tests/fixtures/rules/naming/NM006.yml
  tests/fixtures/rules/naming/NM007.yml
  tests/fixtures/rules/naming/NM008.yml
  tests/fixtures/rules/naming/NM009.yml
  tests/fixtures/rules/naming/NM010.yml
  tests/fixtures/rules/naming/NM011.yml
  tests/fixtures/rules/naming/NM012.yml
  tests/fixtures/rules/naming/NM013.yml
  tests/fixtures/rules/naming/NM014.yml
  tests/fixtures/rules/naming/NM015.yml
  tests/fixtures/rules/naming/NM016.yml
  tests/naming/__init__.py
  tests/naming/test_NM003.py
  tests/naming/test_NM004.py
  tests/naming/test_NM005.py
  tests/naming/test_NM006.py
  tests/naming/test_NM007.py
  tests/naming/test_NM008.py
  tests/naming/test_NM009.py
  tests/naming/test_NM010.py
  tests/naming/test_NM011.py
  tests/naming/test_NM012.py
  tests/naming/test_NM013.py
  tests/naming/test_NM014.py
  tests/naming/test_NM015.py
  tests/naming/test_NM016.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

Fixtures for unsafe rules
  pyproject.toml
  src/pgrubic/formatters/ddl/constraint.py
  tests/fixtures/rules/unsafe/US001.yml
  tests/fixtures/rules/unsafe/US002.yml
  tests/fixtures/rules/unsafe/US003.yml
  tests/fixtures/rules/unsafe/US004.yml
  tests/fixtures/rules/unsafe/US005.yml
  tests/fixtures/rules/unsafe/US006.yml
  tests/fixtures/rules/unsafe/US007.yml
  tests/fixtures/rules/unsafe/US008.yml
  tests/fixtures/rules/unsafe/US009.yml
  tests/fixtures/rules/unsafe/US010.yml
  tests/fixtures/rules/unsafe/US011.yml
  tests/unsafe/test_US001.py
  tests/unsafe/test_US002.py
  tests/unsafe/test_US003.py
  tests/unsafe/test_US004.py
  tests/unsafe/test_US005.py
  tests/unsafe/test_US006.py
  tests/unsafe/test_US007.py
  tests/unsafe/test_US008.py
  tests/unsafe/test_US009.py
  tests/unsafe/test_US010.py
  tests/unsafe/test_US011.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

Add rules for view and trigger, more tests
  backlog.md
  pgrubic.toml
  src/new.sql
  src/pgrubic/__init__.py
  src/pgrubic/core/config.py
  src/pgrubic/core/loader.py
  src/pgrubic/formatters/ddl/view.py
  src/pgrubic/rules/general/GN029.py
  src/pgrubic/rules/general/GN030.py
  src/pgrubic/rules/schema/SM001.py
  tests/conftest.py
  tests/fixtures/rules/general/GN002.yml
  tests/fixtures/rules/general/GN010.yml
  tests/fixtures/rules/general/GN029.yml
  tests/fixtures/rules/general/GN030.yml
  tests/fixtures/rules/naming/NM005.yml
  tests/fixtures/rules/naming/NM006.yml
  tests/fixtures/rules/naming/NM009.yml
  tests/fixtures/rules/schema/SM001.yml
  tests/fixtures/rules/schema/SM002.yml
  tests/test_config.py
  tests/test_linter.py
  tests/test_loader.py
  tests/test_rules.py
  tests/unsafe/__init__.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

Fix failing tests
  backlog.md
  pgrubic.toml
  pyproject.toml
  tests/fixtures/rules/naming/NM005.yml
  tests/fixtures/rules/naming/NM006.yml
Due: check-yaml, yamllint

Improve coverage
  tests/test_cli.py
Due: add-trailing-comma, ruff, isort, mypy

Update docs and little formatting
  docs/docs/rules/general/astar.md
  docs/docs/rules/general/missing-replace-in-function.md
  docs/docs/rules/general/wrongly-typed-required-column.md
  pyproject.toml
  src/pgrubic/core/__init__.py
Due: add-trailing-comma, ruff, isort, mypy

Update docs
  docs/docs/rules/general/missing-replace-in-function.md
  docs/docs/rules/general/missing-replace-in-trigger.md
  docs/docs/rules/general/missing-replace-in-view.md
  src/pgrubic/rules/general/GN029.py
  src/pgrubic/rules/general/GN030.py
Due: add-trailing-comma, ruff, isort, mypy

Update coverage data
  README.md
  data.json
Due: none

More documentations
  src/new.sql
  src/pgrubic/core/linter.py
  src/pgrubic/rules/unsafe/US001.py
  src/pgrubic/rules/unsafe/US002.py
  src/pgrubic/rules/unsafe/US003.py
  src/pgrubic/rules/unsafe/US004.py
  src/pgrubic/rules/unsafe/US005.py
  src/pgrubic/rules/unsafe/US006.py
  src/pgrubic/rules/unsafe/US007.py
  src/pgrubic/rules/unsafe/US008.py
  src/pgrubic/rules/unsafe/US009.py
  src/pgrubic/rules/unsafe/US010.py
  src/pgrubic/rules/unsafe/US011.py
  src/pgrubic/rules/unsafe/US012.py
  src/pgrubic/rules/unsafe/US013.py
  src/pgrubic/rules/unsafe/US014.py
  src/pgrubic/rules/unsafe/US015.py
  src/pgrubic/rules/unsafe/US016.py
  src/pgrubic/rules/unsafe/US017.py
  src/pgrubic/rules/unsafe/US018.py
  src/pgrubic/rules/unsafe/US019.py
  src/pgrubic/rules/unsafe/US020.py
  src/pgrubic/rules/unsafe/US021.py
  src/pgrubic/rules/unsafe/US022.py
  src/pgrubic/rules/unsafe/US025.py
  src/pgrubic/rules/unsafe/US026.py
  src/pgrubic/rules/unsafe/US027.py
  src/pgrubic/rules/unsafe/US028.py
  src/pgrubic/rules/unsafe/US029.py
Due: add-trailing-comma, ruff, isort, mypy

Fix missing required attribute in violations
  src/pgrubic/rules/naming/NM007.py
  src/pgrubic/rules/schema/SM001.py
  src/pgrubic/rules/schema/SM002.py
  src/pgrubic/rules/unsafe/US023.py
  src/pgrubic/rules/unsafe/US024.py
Due: add-trailing-comma, ruff, isort, mypy

More documentations for unsafe rules
  pyproject.toml
  src/pgrubic/rules/unsafe/US017.py
  src/pgrubic/rules/unsafe/US018.py
  src/pgrubic/rules/unsafe/US023.py
  src/pgrubic/rules/unsafe/US024.py
Due: add-trailing-comma, ruff, isort, mypy

Implement caching of formatted files
  .pgrubic_cache/1.0.0/08e3cd197e2df98c5fe6
  backlog.md
  src/.pgrubic_cache/1.0.0/08e3cd197e2df98c5fe6
  src/pgrubic/__init__.py
  src/pgrubic/__main__.py
  src/pgrubic/core/__init__.py
  src/pgrubic/core/cache.py
  src/pgrubic/core/config.py
  src/pgrubic/core/filters.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/logger.py
  src/pgrubic/core/noqa.py
  src/pgrubic/pgrubic.toml
  src/test.sql
  test2.sql
  tests/test_cli.py
  tests/test_filters.py
Due: add-trailing-comma, ruff, isort, mypy

Add msgpack to requirements
  pyproject.toml
Due: none

Fix tests
  .gitignore
  .pgrubic_cache/1.0.0/08e3cd197e2df98c5fe6
  src/pgrubic/pgrubic.toml
Due: none

Remove cache
  .pgrubic_cache/1.0.0/08e3cd197e2df98c5fe6
  src/.pgrubic_cache/1.0.0/08e3cd197e2df98c5fe6
Due: none

Tests for caching functionality
  src/pgrubic/__init__.py
  src/pgrubic/__main__.py
  src/pgrubic/core/cache.py
  src/pgrubic/core/linter.py
  tests/conftest.py
  tests/test_cache.py
Due: add-trailing-comma, ruff, isort, mypy

Implement caching of formatted files (#12)
  .gitignore
  backlog.md
  pyproject.toml
  src/pgrubic/__init__.py
  src/pgrubic/__main__.py
  src/pgrubic/core/__init__.py
  src/pgrubic/core/cache.py
  src/pgrubic/core/config.py
  src/pgrubic/core/filters.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/logger.py
  src/pgrubic/core/noqa.py
  src/pgrubic/pgrubic.toml
  src/test.sql
  test2.sql
  tests/conftest.py
  tests/test_cache.py
  tests/test_cli.py
  tests/test_filters.py
Due: add-trailing-comma, ruff, isort, mypy

Test cache dir from env variable, bumped pglast to version 7 (PostgreSQL 17)
  pyproject.toml
  src/pgrubic/core/__init__.py
  src/pgrubic/core/cache.py
  src/pgrubic/core/config.py
  tests/test_cache.py
Due: add-trailing-comma, ruff, isort, mypy

Test cache dir from env variable, bumped pglast to version 7 (PostgreSQL 17) (#13)
  pyproject.toml
  src/pgrubic/core/__init__.py
  src/pgrubic/core/cache.py
  src/pgrubic/core/config.py
  tests/test_cache.py
Due: add-trailing-comma, ruff, isort, mypy

Adjust tests for cache
  tests/test_cache.py
Due: add-trailing-comma, ruff, isort, mypy

Adjust tests for cache (#14)
  tests/test_cache.py
Due: add-trailing-comma, ruff, isort, mypy

Update coverage data
  data.json
Due: none

Tests windows and macos
  .github/workflows/ci.yml
  pyproject.toml
  src/pgrubic/core/loader.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

Tests on windows, linux and macos (#15)
  .github/workflows/ci.yml
  pyproject.toml
  src/pgrubic/core/loader.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

Setup releases
  .github/workflows/release.yml
Due: check-yaml, yamllint

Beta development
  .github/workflows/release.yml
  pyproject.toml
Due: check-yaml, yamllint

Setup releases (#16)
  .github/workflows/release.yml
  pyproject.toml
Due: check-yaml, yamllint

Use main branch
  .github/workflows/ci.yml
  .github/workflows/doc.yml
Due: check-yaml, yamllint

Use main branch
  .github/workflows/release.yml
Due: check-yaml, yamllint

Use main branch (#17)
  .github/workflows/ci.yml
  .github/workflows/doc.yml
  .github/workflows/release.yml
Due: check-yaml, yamllint

Path conditions:
  add-trailing-comma: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
  ruff: any of: \.py$
  isort: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  mypy: any of: \.py$
