Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-yaml, black, isort, ruff, mypy

add-trailing-comma:
  name: Add trailing commas
  entry: add-trailing-comma
  language: python

check-yaml:
  name: Check yaml
  entry: check-yaml
  language: python

black:
  name: Formatting with black
  entry: black
  language: python

isort:
  name: Ensure imports are grouped and sorted
  entry: isort
  language: python
  args:
  - --check
  - --diff
  - --profile=black

ruff:
  name: Lint with ruff
  entry: ruff
  language: python
  args:
  - check
  - --fix

mypy:
  name: Type checking with mypy
  entry: mypy
  language: python
  args:
  - --strict

Coverage badge
  pyproject.toml
Due: none

Coverage comment
  .github/workflows/ci.yml
  pyproject.toml
Due: check-yaml

Coverage comment
  .github/workflows/ci.yml
Due: check-yaml

Coverage comment support for external contributions
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Due: check-yaml

Update coverage data
  README.md
  badge.svg
  data.json
  endpoint.json
Due: none

Update coverage data
  data.json
Due: none

Add precommit hook
  .pre-commit-hooks.yaml
Due: check-yaml

Add precommit hook (#6)
  .pre-commit-hooks.yaml
Due: check-yaml

Create LICENSE
  LICENSE
Due: none

Create LICENSE (#7)
  LICENSE
Due: none

Cache config
  src/pgrubic/__main__.py
  src/pgrubic/core/config.py
  tests/test_entry.py
Due: add-trailing-comma, black, isort, ruff, mypy

Update docs
  README.md
  docs/docs/rules/unsafe/not-null-constraint-on-new-column-with-no-static-default.md
  docs/docs/rules/unsafe/not-null-constraint-on-new-column-with-volatile-default.md
Due: none

Update logo
  docs/docs/assets/logo.png
  docs/docs/assets/pgrubic.png
  docs/docs/logo.png
  docs/logo.png
  docs/mkdocs.yml
Due: check-yaml

Exit code 1 when there are still violations after fix, test cli
  src/pgrubic/__main__.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/loader.py
  src/pgrubic/rules/unsafe/US011.py
  tests/test_entry.py
  tests/unsafe/test_US012.py
  tests/unsafe/test_US015.py
  tests/unsafe/test_US028.py
Due: add-trailing-comma, black, isort, ruff, mypy

Errors are not currently in used, to be added later
  src/pgrubic/core/errors.py
  src/pgrubic/core/linter.py
  src/pgrubic/ideas.txt
  src/test.sql
Due: add-trailing-comma, black, isort, ruff, mypy

Fix typing
  pyproject.toml
Due: none

Add format command, update documentation for unsafe
  pyproject.toml
  src/pgrubic/__main__.py
  src/pgrubic/core/__init__.py
  src/pgrubic/core/config.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/pgrubic.toml
  src/pgrubic/rules/unsafe/US001.py
  src/pgrubic/rules/unsafe/US002.py
  src/pgrubic/rules/unsafe/US003.py
Due: add-trailing-comma, black, isort, ruff, mypy

Add more config to formatter
  src/pgrubic/__main__.py
  src/pgrubic/core/config.py
  src/pgrubic/core/formatter.py
  src/pgrubic/pgrubic.toml
  src/test.sql
  src/test2.sql
Due: add-trailing-comma, black, isort, ruff, mypy

Ensure comments are at the top of the sql statements, skip empty files
  src/pgrubic/core/filters.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/noqa.py
  tests/test_filters.py
Due: add-trailing-comma, black, isort, ruff, mypy

Little cleanup
  pyproject.toml
  src/pgrubic/rules/schema/SM002.py
Due: add-trailing-comma, black, isort, ruff, mypy

Make formatter modular, add tests for formatter, improve coverage
  pyproject.toml
  src/example.sql
  src/pgrubic/__main__.py
  src/pgrubic/core/__init__.py
  src/pgrubic/core/filters.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  tests/test_cli.py
  tests/test_entry.py
  tests/test_filters.py
  tests/test_format.py
  tests/test_noqa.py
Due: add-trailing-comma, black, isort, ruff, mypy

Use scan to generate statement location, Extend filter to format, Extend include and exclude to format, hack extract_comment
  src/example.sql
  src/new.sql
  src/pgrubic/__main__.py
  src/pgrubic/core/config.py
  src/pgrubic/core/filters.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/noqa.py
  src/pgrubic/pgrubic.toml
  src/test.sql
  src/test2.sql
  test.sql
  tests/general/test_GN003.py
  tests/general/test_GN011.py
  tests/general/test_GN012.py
  tests/general/test_GN013.py
  tests/general/test_GN021.py
  tests/general/test_GN028.py
  tests/naming/test_NM008.py
  tests/naming/test_NM013.py
  tests/naming/test_NM014.py
  tests/schema/test_SCM001.py
  tests/test_filters.py
  tests/typing/test_TP001.py
  tests/typing/test_TP002.py
  tests/typing/test_TP003.py
  tests/typing/test_TP004.py
  tests/typing/test_TP005.py
  tests/typing/test_TP006.py
  tests/typing/test_TP007.py
  tests/typing/test_TP008.py
  tests/typing/test_TP009.py
  tests/typing/test_TP010.py
  tests/typing/test_TP011.py
  tests/typing/test_TP012.py
  tests/typing/test_TP013.py
  tests/typing/test_TP014.py
  tests/typing/test_TP015.py
  tests/typing/test_TP016.py
  tests/typing/test_TP017.py
Due: add-trailing-comma, black, isort, ruff, mypy

Update readme
  README.md
Due: none

Make missing terminator error more informative
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/noqa.py
  tests/test_noqa.py
Due: add-trailing-comma, black, isort, ruff, mypy

Update readme, update config for comma at the beginning
  README.md
  src/example.sql
  src/pgrubic/core/config.py
  src/pgrubic/core/formatter.py
  src/pgrubic/pgrubic.toml
Due: add-trailing-comma, black, isort, ruff, mypy

Add contributing guide, move formatters to dedicated folder, remove forbids
  CONTRIBUTING.md
  pyproject.toml
  src/pgrubic/core/__init__.py
  src/pgrubic/core/formatter.py
  src/pgrubic/formatters/__init__.py
  src/pgrubic/formatters/ddl.py
  src/pgrubic/formatters/dml.py
  src/pgrubic/rules/unsafe/US002.py
  src/pgrubic/rules/unsafe/US003.py
  src/pgrubic/rules/unsafe/US004.py
  src/pgrubic/rules/unsafe/US005.py
  src/pgrubic/rules/unsafe/US006.py
  tests/unsafe/test_US002.py
  tests/unsafe/test_US003.py
  tests/unsafe/test_US004.py
  tests/unsafe/test_US005.py
  tests/unsafe/test_US006.py
Due: add-trailing-comma, black, isort, ruff, mypy

Path conditions:
  add-trailing-comma: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
  black: any of: \.py$
  isort: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
