Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

.pre-commit-config.yaml:

---
default_language_version:
  python: python3.12

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: local
    hooks:
      - id: conventional-pre-commit
        name: Lint commit messages
        entry: conventional-pre-commit
        language: python
        stages: [commit-msg]
      - id: trailing-whitespace
        stages: [pre-commit]
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
      - id: end-of-file-fixer
        stages: [pre-commit]
        name: Add a blank line at end of a file
        entry: end-of-file-fixer
        language: python
        types: [text]
      - id: mixed-line-ending
        stages: [pre-commit]
        name: Ensure line feed character (LF)
        entry: mixed-line-ending
        language: python
        types: [text]
        args: [--fix=lf]
      - id: add-trailing-comma
        stages: [pre-commit]
        name: Add trailing commas
        entry: add-trailing-comma
        language: python
        types: [python]
      - id: check-ast
        stages: [pre-commit]
        name: Check that files parse as valid python
        entry: check-ast
        language: python
        types: [python]
      - id: check-yaml
        stages: [pre-commit]
        name: Check yaml
        entry: check-yaml
        language: python
        types: [yaml]
        args: [--unsafe]
      - id: yamllint
        stages: [pre-commit]
        name: Lint yaml files
        entry: yamllint
        language: python
        types: [yaml]
        args: [--strict]
      - id: isort
        stages: [pre-commit]
        name: Ensure imports are grouped and sorted
        entry: isort
        language: python
        types: [python]
        args: [--check, --diff, --profile=black]
      - id: ruff
        stages: [pre-commit]
        name: Lint with ruff
        entry: ruff
        language: python
        args: [check, --fix, --config, ./pyproject.toml]
        types: [python]
      - id: mypy
        stages: [pre-commit]
        name: Type checking with mypy
        additional_dependencies: [types-PyYAML]
        entry: mypy
        language: python
        types: [python]
        args: [--config-file=./pyproject.toml]
      - id: interrogate
        name: Docstrings coverage
        entry: interrogate
        language: python
        types: [python]
        args: [--quiet, --fail-under=100, --config=./pyproject.toml]
      - id: bandit
        name: Security analysis with bandit
        entry: bandit
        language: python
        types: [python]
        args: [--recursive, --config=./pyproject.toml]
      # Formatters should be run late so that they can re-format
      # any prior changes
      - id: ruff
        stages: [pre-commit]
        name: Formatting with ruff
        entry: ruff
        language: python
        args: [format]
        types: [python]

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.11.0-1
    hooks:
      - id: shfmt
        name: Format shell scripts
        entry: shfmt
        args: [--indent=4]
        stages: [pre-commit]
        types: [shell]

feat: support config overrides (#221)
  src/pgrubic/core/config.py
  tests/test_config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

chore(bump): version 1.0.0 → 1.1.0
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

chore(bump): version 1.0.0 → 1.1.0 (#222)
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

feat: upgrade pglast to v8
  pyproject.toml
  src/pgrubic/formatters/dml/delete.py
  src/pgrubic/formatters/dml/insert.py
  src/pgrubic/formatters/dml/update.py
  tests/fixtures/formatters/dml/delete.yml
  tests/fixtures/formatters/dml/insert.yml
  tests/fixtures/formatters/dml/update.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat(formatter): make printing of default index access method
  src/pgrubic/core/config.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/formatters/ddl/index.py
  src/pgrubic/pgrubic.toml
  tests/fixtures/formatters/ddl/index.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat(formatter): update docs
  docs/docs/settings.md
  src/pgrubic/pgrubic.toml
Due: none

feat(formatter): update docs
  src/pgrubic/core/config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(formatter): update docs
  docs/docs/settings.md
Due: none

feat(formatter): make the default index access method explicit
  src/pgrubic/formatters/ddl/index.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(formatter): make printing of default index access method configurable (#231)
  docs/docs/settings.md
  src/pgrubic/core/config.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/formatters/ddl/index.py
  src/pgrubic/pgrubic.toml
  tests/fixtures/formatters/ddl/index.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat(formatter): update docs, add private _concatenate_nodes api
  docs/docs/settings.md
  src/pgrubic/core/formatter.py
  tests/fixtures/formatters/ddl/index.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat(formatter): make create index printer dynamic on the longest options
  src/pgrubic/formatters/ddl/index.py
  tests/fixtures/formatters/ddl/index.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat(formatter): keep inline options if options is a single item
  src/pgrubic/formatters/ddl/index.py
  tests/fixtures/formatters/ddl/index.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat(formatter): improve formatting, introduce compact-lists-margin
  docs/docs/settings.md
  src/pgrubic/core/config.py
  src/pgrubic/core/formatter.py
  src/pgrubic/formatters/ddl/index.py
  src/pgrubic/pgrubic.toml
  tests/fixtures/formatters/ddl/index.yml
  tests/test_config.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat(formatter): Improve create index printer with adaptive list layouts and clause alignment (#232)
  docs/docs/settings.md
  src/pgrubic/core/config.py
  src/pgrubic/core/formatter.py
  src/pgrubic/formatters/ddl/index.py
  src/pgrubic/pgrubic.toml
  tests/fixtures/formatters/ddl/index.yml
  tests/test_config.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

chore(bump): version 1.1.0 → 1.2.0
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

chore(bump): version 1.1.0 → 1.2.0 (#233)
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

fix(formatter): rename compact-lists-margin to compact-parenthesized-lists-margin to match its actual intent
  src/pgrubic/core/config.py
  src/pgrubic/core/formatter.py
  src/pgrubic/pgrubic.toml
  tests/fixtures/formatters/ddl/index.yml
  tests/test_config.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

fix(formatter): update docs
  docs/docs/settings.md
Due: none

fix(formatter): rename compact-lists-margin to compact-parenthesized-lists-margin to match its actual intent (#234)
  docs/docs/settings.md
  src/pgrubic/core/config.py
  src/pgrubic/core/formatter.py
  src/pgrubic/pgrubic.toml
  tests/fixtures/formatters/ddl/index.yml
  tests/test_config.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

chore(bump): version 1.2.0 → 1.2.1
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

chore(bump): version 1.2.0 → 1.2.1 (#235)
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

feat: make uppercase keywords configurable
  docs/docs/settings.md
  src/pgrubic/core/config.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/pgrubic.toml
  tests/test_config.py
  tests/test_formatters.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: update apply_keyword_case
  src/pgrubic/core/formatter.py
  tests/test_formatters.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: update apply_keyword_case docstring
  src/pgrubic/core/formatter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: update format_ast docstring, ensure to changes to config is reset
  src/pgrubic/core/formatter.py
  tests/test_formatters.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: ensure to changes to config is reset
  tests/test_formatters.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: Add configurable uppercase and lowercase SQL keyword formatting (#236)
  docs/docs/settings.md
  src/pgrubic/core/config.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/pgrubic.toml
  tests/test_config.py
  tests/test_formatters.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

test: ensure changes to config are reset in tests
  tests/conftest.py
  tests/test_config.py
  tests/test_formatters.py
  tests/test_rules.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit
