Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

add-trailing-comma:
  stages:
  - pre-commit
  name: Add trailing commas
  entry: add-trailing-comma
  language: python

check-ast:
  stages:
  - pre-commit
  name: Check that files parse as valid python
  entry: check-ast
  language: python

check-yaml:
  stages:
  - pre-commit
  name: Check yaml
  entry: check-yaml
  language: python
  args:
  - --unsafe

ruff:
  stages:
  - pre-commit
  name: Lint with ruff
  entry: ruff
  language: python
  args:
  - check
  - --fix

isort:
  stages:
  - pre-commit
  name: Ensure imports are grouped and sorted
  entry: isort
  language: python
  args:
  - --check
  - --diff
  - --profile=black

yamllint:
  stages:
  - pre-commit
  name: Lint yaml files
  entry: yamllint
  language: python

mypy:
  stages:
  - pre-commit
  name: Type checking with mypy
  additional_dependencies:
  - types-PyYAML
  entry: mypy
  language: python
  args:
  - --config-file=./pyproject.toml

fix: ignore semicolon in parentheses when building statement locations
  src/pgrubic/core/noqa.py
  tests/fixtures/rules/general/GN002.yml
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

fix: ignore semicolon in parentheses when building statement locations (#91)
  src/pgrubic/core/noqa.py
  tests/fixtures/rules/general/GN002.yml
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

fix: remove unnecessary enumerate when looping through tokens
  src/pgrubic/core/noqa.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

fix: cleanup unused error codes
  src/pgrubic/core/errors.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

feat: implement graceful exit
  src/pgrubic/__init__.py
  src/pgrubic/__main__.py
  src/pgrubic/core/__init__.py
  src/pgrubic/core/errors.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/noqa.py
  src/pgrubic/formatters/ddl/function.py
  tests/fixtures/rules/unsafe/US030.yml
  tests/test_cli.py
  tests/test_linter.py
  tests/test_rules.py
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

fix: replace \n with NEW_LINE in the rest of the codebase
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/noqa.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

fix: interpolate noqa.NEW_LINE in test_filters
  tests/test_filters.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

feat: cleanup remnant of MissingStatementTerminatorError
  src/pgrubic/core/noqa.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

fix: handle recursion error gracefully
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/noqa.py
  tests/test_cli.py
  tests/test_linter.py
  tests/test_noqa.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

feat: implement graceful exit
  src/pgrubic/__main__.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/noqa.py
  tests/test_cache.py
  tests/test_cli.py
  tests/test_filters.py
  tests/test_formatters.py
  tests/test_linter.py
  tests/test_noqa.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

fix: rename extract_statement_locations to extract_statements to align its purpose, update comment about sql function body
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/noqa.py
  src/pgrubic/formatters/ddl/function.py
  tests/test_noqa.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

test: enable color for pytest
  pyproject.toml
Due: none

fix: tracking of fixes
  src/pgrubic/core/linter.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

fix: bring back inside_parenthesis
  src/pgrubic/core/noqa.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

feat: implement graceful exit (#93)
  pyproject.toml
  src/pgrubic/__init__.py
  src/pgrubic/__main__.py
  src/pgrubic/core/__init__.py
  src/pgrubic/core/errors.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/noqa.py
  src/pgrubic/formatters/ddl/function.py
  tests/fixtures/rules/unsafe/US030.yml
  tests/test_cache.py
  tests/test_cli.py
  tests/test_filters.py
  tests/test_formatters.py
  tests/test_linter.py
  tests/test_noqa.py
  tests/test_rules.py
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

chore(bump): version 0.5.3 → 0.6.0
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

chore(bump): version 0.5.3 → 0.6.0 (#94)
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

chore: setup different environments for releases
  .github/workflows/release.yml
Due: check-yaml, yamllint

chore: setup different environments for releases (#95)
  .github/workflows/release.yml
Due: check-yaml, yamllint

chore: add badge for dependency review
  README.md
  docs/docs/index.md
Due: none

chore: add badge for dependency review (#96)
  README.md
  docs/docs/index.md
Due: none

chore: add shfmt in pre-commit, fix unordered list in doc
  .pre-commit-config.yaml
  docs/docs/contributing.md
  tools/ensure_up_to_date_docs.sh
Due: check-yaml, yamllint

chore: add shfmt in pre-commit, fix unordered list in doc (#100)
  .pre-commit-config.yaml
  docs/docs/contributing.md
  tools/ensure_up_to_date_docs.sh
Due: check-yaml, yamllint

fix: only apply fixes if there are duplicated columns in primary/unique keys
  src/pgrubic/rules/constraint/CT005.py
  src/pgrubic/rules/constraint/CT006.py
  tests/fixtures/rules/constraint/CT005.yml
  tests/fixtures/rules/constraint/CT006.yml
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

fix: only apply fixes if there are duplicated columns in primary/unique keys (#101)
  src/pgrubic/rules/constraint/CT005.py
  src/pgrubic/rules/constraint/CT006.py
  tests/fixtures/rules/constraint/CT005.yml
  tests/fixtures/rules/constraint/CT006.yml
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

chore: pin digest for the base docker image
  .github/dependabot.yml
  Dockerfile
Due: check-yaml, yamllint

chore: pin digest for the base docker image (#102)
  .github/dependabot.yml
  Dockerfile
Due: check-yaml, yamllint

fix: recaching of a source should not invalidate other sources already in the cache
  src/pgrubic/core/cache.py
  tests/test_cache.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

fix: format only sources that need formatting
  src/pgrubic/__main__.py
  tests/test_cli.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

Path conditions:
  add-trailing-comma: any of: \.py$
  check-ast: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
  ruff: any of: \.py$
  isort: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  mypy: any of: \.py$
