Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

add-trailing-comma:
  name: Add trailing commas
  entry: add-trailing-comma
  language: python

check-yaml:
  name: Check yaml
  entry: check-yaml
  language: python
  args:
  - --unsafe

ruff:
  name: Lint with ruff
  entry: ruff
  language: python
  args:
  - check
  - --fix

isort:
  name: Ensure imports are grouped and sorted
  entry: isort
  language: python
  args:
  - --check
  - --diff
  - --profile=black

yamllint:
  name: Lint yaml files
  entry: yamllint
  language: python

mypy:
  name: Type checking with mypy
  entry: mypy
  language: python
  args:
  - --config-file=./pyproject.toml

fix: documentation, cleanup leftover backlog.md
  backlog.md
  docs/docs/rules.md
  src/pgrubic/rules/constraint/CT006.py
Due: add-trailing-comma, ruff, isort, mypy

fix: documentation, cleanup leftover backlog.md (#30)
  backlog.md
  docs/docs/rules.md
  src/pgrubic/rules/constraint/CT006.py
Due: add-trailing-comma, ruff, isort, mypy

feat: add rule for insert without target columns
  docs/docs/rules.md
  docs/docs/rules/general/insert-without-target-columns.md
  src/pgrubic/rules/general/GN033.py
  tests/fixtures/rules/general/GN033.yml
  tests/test_loader.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

feat: add rule for insert without target columns (#31)
  docs/docs/rules.md
  docs/docs/rules/general/insert-without-target-columns.md
  src/pgrubic/rules/general/GN033.py
  tests/fixtures/rules/general/GN033.yml
  tests/test_loader.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

feat: add rule for typed table
  docs/docs/rules.md
  docs/docs/rules/general/typed-table.md
  src/pgrubic/rules/general/GN034.py
  tests/fixtures/rules/general/GN034.yml
  tests/test_loader.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

feat: add rule for typed table (#32)
  docs/docs/rules.md
  docs/docs/rules/general/typed-table.md
  src/pgrubic/rules/general/GN034.py
  tests/fixtures/rules/general/GN034.yml
  tests/test_loader.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

bump: version 0.1.0 → 0.2.0
  CHANGELOG.md
  pyproject.toml
Due: none

chore: add commitizen process to tox
  pyproject.toml
Due: none

Release 0.2.0 (#33)
  CHANGELOG.md
  pyproject.toml
Due: none

chore: add pre-commit hook to validate commit message
  .pre-commit-config.yaml
  pyproject.toml
Due: check-yaml, yamllint

chore: add pre-commit hook to validate commit message
  .pre-commit-config.yaml
Due: check-yaml, yamllint

ci: add commitlint
  .github/workflows/ci.yml
Due: check-yaml, yamllint

chore: add badges for mypy and ruff
  README.md
Due: none

chore: pass config to ruff lint in pre-commit, remove commitlint from ci
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: check-yaml, yamllint

style: format
  src/pgrubic/core/linter.py
  src/pgrubic/formatters/dml/select.py
Due: add-trailing-comma, ruff, isort, mypy

ci: add pre-commit to the run
  .github/workflows/ci.yml
Due: check-yaml, yamllint

ci: remove pre-commit from the run
  .github/workflows/ci.yml
Due: check-yaml, yamllint

chore: setup pre-commit for commit message (#34)
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  src/pgrubic/core/linter.py
  src/pgrubic/formatters/dml/select.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

chore: move set-locations helper to linter
  src/pgrubic/core/__init__.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/loader.py
Due: add-trailing-comma, ruff, isort, mypy

chore: move set-locations helper to linter
  docs/docs/tutorial.md
  src/pgrubic/core/linter.py
Due: add-trailing-comma, ruff, isort, mypy

test: check fixed sql is valid
  tests/test_rules.py
Due: add-trailing-comma, ruff, isort, mypy

test: add tests for new exceptions
  src/pgrubic/__main__.py
  src/pgrubic/core/linter.py
  tests/test_cli.py
  tests/test_formatters.py
  tests/test_linter.py
  tests/test_noqa.py
Due: add-trailing-comma, ruff, isort, mypy

test: test setting max workers from environment variable
  src/pgrubic/__init__.py
  src/pgrubic/__main__.py
  tests/test_cli.py
Due: add-trailing-comma, ruff, isort, mypy

chore: improve ast comparison in linter
  src/pgrubic/core/linter.py
Due: add-trailing-comma, ruff, isort, mypy

doc: improve readme
  README.md
Due: none

perf: add parallelism to formatting, handle exceptions when multiprocessing
  src/pgrubic/__main__.py
  src/pgrubic/core/errors.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/logger.py
  src/pgrubic/core/noqa.py
Due: add-trailing-comma, ruff, isort, mypy

perf: add parallelism to linting
  src/pgrubic/__main__.py
  src/pgrubic/core/__init__.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/loader.py
  src/pgrubic/rules/naming/__init__.py
Due: add-trailing-comma, ruff, isort, mypy

doc: update tutorial with new interface
  docs/docs/tutorial.md
Due: none

style: format
  .github/workflows/ci.yml
  pyproject.toml
Due: check-yaml, yamllint

feat: enable setting workers through cli
  docs/docs/cli.md
  docs/docs/tutorial.md
  docs/mkdocs.yml
  src/pgrubic/__init__.py
  src/pgrubic/__main__.py
  tests/test_cli.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

feat: Parallelism (#36)
  .github/workflows/ci.yml
  README.md
  docs/docs/cli.md
  docs/docs/tutorial.md
  docs/mkdocs.yml
  pyproject.toml
  src/pgrubic/__init__.py
  src/pgrubic/__main__.py
  src/pgrubic/core/__init__.py
  src/pgrubic/core/errors.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/loader.py
  src/pgrubic/core/logger.py
  src/pgrubic/core/noqa.py
  src/pgrubic/rules/naming/__init__.py
  tests/test_cli.py
  tests/test_formatters.py
  tests/test_linter.py
  tests/test_noqa.py
  tests/test_rules.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

feat: support ignoring files with gitignore
  pyproject.toml
  src/pgrubic/__main__.py
  src/pgrubic/core/config.py
  src/pgrubic/core/filters.py
  src/pgrubic/pgrubic.toml
  tests/test_filters.py
Due: add-trailing-comma, ruff, isort, mypy

docs: add doc for respect-gitignore
  docs/docs/settings.md
Due: none

Path conditions:
  add-trailing-comma: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
  ruff: any of: \.py$
  isort: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  mypy: any of: \.py$
