Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

.pre-commit-config.yaml:

---
default_language_version:
  python: python3.12

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: local
    hooks:
      - id: conventional-pre-commit
        name: Lint commit messages
        entry: conventional-pre-commit
        language: python
        stages: [commit-msg]
      - id: trailing-whitespace
        stages: [pre-commit]
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
      - id: end-of-file-fixer
        stages: [pre-commit]
        name: Add a blank line at end of a file
        entry: end-of-file-fixer
        language: python
        types: [text]
      - id: mixed-line-ending
        stages: [pre-commit]
        name: Ensure line feed character (LF)
        entry: mixed-line-ending
        language: python
        types: [text]
        args: [--fix=lf]
      - id: add-trailing-comma
        stages: [pre-commit]
        name: Add trailing commas
        entry: add-trailing-comma
        language: python
        types: [python]
      - id: check-ast
        stages: [pre-commit]
        name: Check that files parse as valid python
        entry: check-ast
        language: python
        types: [python]
      - id: check-yaml
        stages: [pre-commit]
        name: Check yaml
        entry: check-yaml
        language: python
        types: [yaml]
        args: [--unsafe]
      - id: yamllint
        stages: [pre-commit]
        name: Lint yaml files
        entry: yamllint
        language: python
        types: [yaml]
        args: [--strict]
      - id: isort
        stages: [pre-commit]
        name: Ensure imports are grouped and sorted
        entry: isort
        language: python
        types: [python]
        args: [--check, --diff, --profile=black]
      - id: ruff
        stages: [pre-commit]
        name: Lint with ruff
        entry: ruff
        language: python
        args: [check, --fix, --config, ./pyproject.toml]
        types: [python]
      - id: mypy
        stages: [pre-commit]
        name: Type checking with mypy
        additional_dependencies: [types-PyYAML]
        entry: mypy
        language: python
        types: [python]
        args: [--config-file=./pyproject.toml]
      - id: interrogate
        name: Docstrings coverage
        entry: interrogate
        language: python
        types: [python]
        args: [--quiet, --fail-under=100, --config=./pyproject.toml]
      - id: bandit
        name: Security analysis with bandit
        entry: bandit
        language: python
        types: [python]
        args: [--recursive, --config=./pyproject.toml]
      # Formatters should be run late so that they can re-format
      # any prior changes
      - id: ruff
        stages: [pre-commit]
        name: Formatting with ruff
        entry: ruff
        language: python
        args: [format]
        types: [python]

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.11.0-1
    hooks:
      - id: shfmt
        name: Format shell scripts
        entry: shfmt
        args: [--indent=4]
        stages: [pre-commit]
        types: [shell]

docs: update documentation on no-cache to match current status (#266)
  docs/docs/settings.md
  src/pgrubic/core/config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: expose api for default config
  docs/config_docs_generator.py
  src/pgrubic/core/config.py
  tests/test_config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(config): expose configuration model factories
  src/pgrubic/core/config.py
  tests/test_config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(config): add third variant of config
  src/pgrubic/core/config.py
  tests/test_config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(config): revert changes on DEFAULT_CONFIG, extend tests to capture every config field categorisation
  src/pgrubic/core/config.py
  tests/test_config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(config): expose configuration model factories (#268)
  src/pgrubic/core/config.py
  tests/test_config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

chore: update release commit message
  pyproject.toml
Due: none

chore: update release commit message (#269)
  pyproject.toml
Due: none

chore(release): release 2.1.0
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

chore(release): release 2.1.0 (#270)
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

chore: adopt uv for locked environments and Docker builds
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/dependency-review.yml
  .github/workflows/doc.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  Dockerfile
  docs/docs/contributing.md
  pyproject.toml
  uv.lock
Due: check-yaml, yamllint

chore: remove redundant install
  .dockerignore
  .gitignore
  pyproject.toml
Due: none

chore: adopt uv for locked environments and Docker builds (#271)
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/dependency-review.yml
  .github/workflows/doc.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .gitignore
  Dockerfile
  docs/docs/contributing.md
  pyproject.toml
  uv.lock
Due: check-yaml, yamllint

chore: use shallow checkouts in release jobs
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: check-yaml, yamllint

chore: use shallow checkouts in pipeline jobs (#273)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: check-yaml, yamllint

feat!: upgrade pglast to v8
  src/pgrubic/__init__.py
  src/pgrubic/formatters/dml/typecast.py
  tests/fixtures/formatters/dml/typecast.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

chore: setup dependabot for uv
  .github/dependabot.yml
Due: check-yaml, yamllint

chore: setup dependabot for uv (#278)
  .github/dependabot.yml
Due: check-yaml, yamllint

chore: remove pip from dependabot, already replaced by uv
  .github/dependabot.yml
Due: check-yaml, yamllint

chore: remove pip from dependabot, already replaced by uv (#280)
  .github/dependabot.yml
Due: check-yaml, yamllint

fix(deps): ignore copyright (CPY001) for ruff
  pyproject.toml
Due: none

docs: include linting of embedded migrations in features
  README.md
  docs/docs/index.md
Due: none

docs: include linting of embedded migrations in features (#281)
  README.md
  docs/docs/index.md
Due: none

fix: dependabot casing issue
  pyproject.toml
Due: none
