Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

add-trailing-comma:
  stages:
  - pre-commit
  name: Add trailing commas
  entry: add-trailing-comma
  language: python

check-ast:
  stages:
  - pre-commit
  name: Check that files parse as valid python
  entry: check-ast
  language: python

check-yaml:
  stages:
  - pre-commit
  name: Check yaml
  entry: check-yaml
  language: python
  args:
  - --unsafe

yamllint:
  stages:
  - pre-commit
  name: Lint yaml files
  entry: yamllint
  language: python
  args:
  - --strict

isort:
  stages:
  - pre-commit
  name: Ensure imports are grouped and sorted
  entry: isort
  language: python
  args:
  - --check
  - --diff
  - --profile=black

ruff:
  stages:
  - pre-commit
  name: Formatting with ruff
  entry: ruff
  language: python
  args:
  - format

mypy:
  stages:
  - pre-commit
  name: Type checking with mypy
  additional_dependencies:
  - types-PyYAML
  entry: mypy
  language: python
  args:
  - --config-file=./pyproject.toml

interrogate:
  name: Docstrings coverage
  entry: interrogate
  language: python
  args:
  - --quiet
  - --fail-under=100
  - --config=./pyproject.toml

bandit:
  name: Security analysis with bandit
  entry: bandit
  language: python
  args:
  - --recursive
  - --config=./pyproject.toml

feat: use correct variable
  src/pgrubic/core/noqa.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(linter): add tests for linting of sql statements in a function call
  tests/fixtures/rules/inline.yml
Due: check-yaml, yamllint

feat(linter): extract inline statetements from plpgsql for linting
  pyproject.toml
  src/pgrubic/core/__init__.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/noqa.py
  src/pgrubic/core/visitors.py
  src/pgrubic/formatters/ddl/function.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: extract nested sql statements from plpgsql and lint and support violation skipping
  src/pgrubic/core/linter.py
  src/pgrubic/core/visitors.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

ci: add precommit check
  .github/workflows/ci.yml
Due: check-yaml, yamllint

ci: add precommit check (#133)
  .github/workflows/ci.yml
Due: check-yaml, yamllint

feat: add tests for sql statement extraction from plpgsql
  src/pgrubic/core/linter.py
  tests/fixtures/rules/plpgsql.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat(linter): set zip to strict
  src/pgrubic/core/linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: extend plpgsql visitor to function calls
  src/pgrubic/core/linter.py
  src/pgrubic/core/visitors.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(linter): add tests for linting of sql statements in a function call
  src/pgrubic/core/linter.py
  tests/fixtures/rules/plpgsql.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat(linter): update comments, add more tests
  src/pgrubic/core/linter.py
  tests/fixtures/rules/inline.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat(linter): update docs with fix limitation
  docs/docs/linter.md
Due: none

feat(linter): linting of inline statements in plpgsql and function calls (#123)
  docs/docs/linter.md
  pyproject.toml
  src/pgrubic/core/__init__.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/noqa.py
  src/pgrubic/core/visitors.py
  src/pgrubic/formatters/ddl/function.py
  tests/fixtures/rules/inline.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

chore(bump): version 0.6.3 → 0.7.0
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

chore(bump): version 0.6.3 → 0.7.0 (#137)
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

docs: hide module level function
  docs/mkdocs.yml
  src/pgrubic/rules/typing/TP017.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

docs: update description for TP017
  src/pgrubic/rules/typing/TP017.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

docs: hide module level function (#139)
  docs/mkdocs.yml
  src/pgrubic/rules/typing/TP017.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat(rule): flag security definer functions without search path
  src/pgrubic/rules/security/ST002.py
  src/pgrubic/rules/security/ST003.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(rule): flag security definer functions with search path but pg_temp not the last element
  src/pgrubic/rules/security/ST003.py
  src/pgrubic/rules/security/ST004.py
  tests/fixtures/rules/security/ST003.yml
  tests/fixtures/rules/security/ST004.yml
  tests/test_loader.py
  tests/test_rules.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat(rule): add rules for security definer functions
  src/pgrubic/core/__init__.py
  src/pgrubic/rules/security/ST003.py
  src/pgrubic/rules/security/ST005.py
  tests/fixtures/rules/security/ST003.yml
  tests/fixtures/rules/security/ST005.yml
  tests/test_loader.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat(rule): add rules for security definer functions
  src/pgrubic/core/enums.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(rule): add docs for the new rules
  docs/docs/rules.md
  docs/docs/rules/security/security-definer-function-no-explicit-search-path.md
  docs/docs/rules/security/security-definer-function-non-temp-schema.md
  docs/docs/rules/security/security-definer-function-temp-schema-order.md
Due: none

feat(rule): reorder conditions
  src/pgrubic/rules/security/ST003.py
  src/pgrubic/rules/security/ST004.py
  src/pgrubic/rules/security/ST005.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(rule): improve conditions
  src/pgrubic/rules/security/ST004.py
  src/pgrubic/rules/security/ST005.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(rule): litte formatting
  src/pgrubic/rules/security/ST004.py
  src/pgrubic/rules/security/ST005.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(rule): add rules for security definer functions (#140)
  docs/docs/rules.md
  docs/docs/rules/security/security-definer-function-no-explicit-search-path.md
  docs/docs/rules/security/security-definer-function-non-temp-schema.md
  docs/docs/rules/security/security-definer-function-temp-schema-order.md
  src/pgrubic/core/__init__.py
  src/pgrubic/core/enums.py
  src/pgrubic/rules/security/ST002.py
  src/pgrubic/rules/security/ST003.py
  src/pgrubic/rules/security/ST004.py
  src/pgrubic/rules/security/ST005.py
  tests/fixtures/rules/security/ST003.yml
  tests/fixtures/rules/security/ST004.yml
  tests/fixtures/rules/security/ST005.yml
  tests/test_loader.py
  tests/test_rules.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

Path conditions:
  add-trailing-comma: any of: \.py$
  check-ast: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  isort: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  interrogate: any of: \.py$
  bandit: any of: \.py$
