Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

add-trailing-comma:
  stages:
  - pre-commit
  name: Add trailing commas
  entry: add-trailing-comma
  language: python

check-ast:
  stages:
  - pre-commit
  name: Check that files parse as valid python
  entry: check-ast
  language: python

check-yaml:
  stages:
  - pre-commit
  name: Check yaml
  entry: check-yaml
  language: python
  args:
  - --unsafe

yamllint:
  stages:
  - pre-commit
  name: Lint yaml files
  entry: yamllint
  language: python
  args:
  - --strict

isort:
  stages:
  - pre-commit
  name: Ensure imports are grouped and sorted
  entry: isort
  language: python
  args:
  - --check
  - --diff
  - --profile=black

ruff:
  stages:
  - pre-commit
  name: Formatting with ruff
  entry: ruff
  language: python
  args:
  - format

mypy:
  stages:
  - pre-commit
  name: Type checking with mypy
  additional_dependencies:
  - types-PyYAML
  entry: mypy
  language: python
  args:
  - --config-file=./pyproject.toml

interrogate:
  name: Docstrings coverage
  entry: interrogate
  language: python
  args:
  - --quiet
  - --fail-under=100
  - --config=./pyproject.toml

bandit:
  name: Security analysis with bandit
  entry: bandit
  language: python
  args:
  - --recursive
  - --config=./pyproject.toml

test: fix assertion
  tests/test_config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

test: use keyword in update_config
  tests/conftest.py
  tests/test_config.py
  tests/test_formatters.py
  tests/test_rules.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

test: isolate temporary configuration overrides in formatter and rule tests (#237)
  tests/conftest.py
  tests/test_config.py
  tests/test_formatters.py
  tests/test_rules.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

Fix minor typo
  README.md
Due: none

doc: Fix minor typo (#239)
  README.md
Due: none

feat: improve table formatter
  src/pgrubic/core/formatter.py
  src/pgrubic/formatters/ddl/table.py
  tests/fixtures/formatters/ddl/table.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat: address comments
  src/pgrubic/core/formatter.py
  src/pgrubic/formatters/ddl/table.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: remove dead code
  src/pgrubic/formatters/ddl/table.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: switch to self.write
  src/pgrubic/core/formatter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: improve table formatter (#241)
  src/pgrubic/core/formatter.py
  src/pgrubic/formatters/ddl/table.py
  tests/fixtures/formatters/ddl/table.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

chore(bump): version 1.2.1 → 1.3.0
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

chore(bump): version 1.2.1 → 1.3.0 (#242)
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

test: cleanup stale config resets
  tests/fixtures/formatters/ddl/index.yml
  tests/fixtures/rules/general/GN017.yml
  tests/fixtures/rules/general/GN019.yml
  tests/fixtures/rules/general/GN020.yml
  tests/fixtures/rules/general/GN021.yml
  tests/fixtures/rules/naming/NM015.yml
  tests/fixtures/rules/naming/NM016.yml
  tests/fixtures/rules/schema/SM002.yml
  tests/fixtures/rules/security/ST001.yml
  tests/fixtures/rules/security/ST002.yml
  tests/fixtures/rules/typing/TP001.yml
  tests/fixtures/rules/typing/TP0010.yml
  tests/fixtures/rules/typing/TP0011.yml
  tests/fixtures/rules/typing/TP002.yml
  tests/fixtures/rules/typing/TP003.yml
  tests/fixtures/rules/typing/TP004.yml
  tests/fixtures/rules/typing/TP005.yml
  tests/fixtures/rules/typing/TP006.yml
  tests/fixtures/rules/typing/TP007.yml
  tests/fixtures/rules/typing/TP008.yml
  tests/fixtures/rules/typing/TP009.yml
  tests/fixtures/rules/typing/TP012.yml
  tests/fixtures/rules/typing/TP013.yml
  tests/fixtures/rules/typing/TP014.yml
  tests/fixtures/rules/typing/TP016.yml
  tests/fixtures/rules/typing/TP017.yml
Due: check-yaml, yamllint

test: cleanup stale config resets (#244)
  tests/fixtures/formatters/ddl/index.yml
  tests/fixtures/rules/general/GN017.yml
  tests/fixtures/rules/general/GN019.yml
  tests/fixtures/rules/general/GN020.yml
  tests/fixtures/rules/general/GN021.yml
  tests/fixtures/rules/naming/NM015.yml
  tests/fixtures/rules/naming/NM016.yml
  tests/fixtures/rules/schema/SM002.yml
  tests/fixtures/rules/security/ST001.yml
  tests/fixtures/rules/security/ST002.yml
  tests/fixtures/rules/typing/TP001.yml
  tests/fixtures/rules/typing/TP0010.yml
  tests/fixtures/rules/typing/TP0011.yml
  tests/fixtures/rules/typing/TP002.yml
  tests/fixtures/rules/typing/TP003.yml
  tests/fixtures/rules/typing/TP004.yml
  tests/fixtures/rules/typing/TP005.yml
  tests/fixtures/rules/typing/TP006.yml
  tests/fixtures/rules/typing/TP007.yml
  tests/fixtures/rules/typing/TP008.yml
  tests/fixtures/rules/typing/TP009.yml
  tests/fixtures/rules/typing/TP012.yml
  tests/fixtures/rules/typing/TP013.yml
  tests/fixtures/rules/typing/TP014.yml
  tests/fixtures/rules/typing/TP016.yml
  tests/fixtures/rules/typing/TP017.yml
Due: check-yaml, yamllint

feat: make type casting configurable
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/formatters/dml/typecast.py
  tests/fixtures/formatters/dml/typecast.yml
  tests/test_formatters.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat: configurable type casting
  docs/docs/settings.md
  src/pgrubic/__main__.py
  src/pgrubic/core/config.py
  src/pgrubic/core/enums.py
  src/pgrubic/core/errors.py
  src/pgrubic/core/formatter.py
  src/pgrubic/pgrubic.toml
  tests/test_cli.py
  tests/test_config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: update documentation
  docs/docs/settings.md
  src/pgrubic/core/config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: document cases where literal styling is not applied
  docs/docs/settings.md
  src/pgrubic/core/config.py
  src/pgrubic/formatters/dml/typecast.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: formatting
  src/pgrubic/core/config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: update test signature
  tests/test_cli.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: make type casting configurable
  src/pgrubic/formatters/dml/typecast.py
  tests/fixtures/formatters/dml/typecast.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat: handle parenthesis for functions and future unknown expression node
  src/pgrubic/formatters/dml/typecast.py
  tests/fixtures/formatters/dml/typecast.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat: little formatting
  tests/test_formatters.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: make type casting configurable (#245)
  docs/docs/settings.md
  src/pgrubic/__main__.py
  src/pgrubic/core/config.py
  src/pgrubic/core/enums.py
  src/pgrubic/core/errors.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/formatters/dml/typecast.py
  src/pgrubic/pgrubic.toml
  tests/fixtures/formatters/dml/typecast.yml
  tests/test_cli.py
  tests/test_config.py
  tests/test_formatters.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat: expose configuring output of special functions
  README.md
  docs/docs/configuration.md
  docs/docs/settings.md
  src/pgrubic/core/config.py
  src/pgrubic/core/formatter.py
  src/pgrubic/pgrubic.toml
  tests/fixtures/formatters/dml/select.yml
  tests/fixtures/formatters/dml/typecast.yml
  tests/test_config.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat: expose configuring output of special functions (#246)
  README.md
  docs/docs/configuration.md
  docs/docs/settings.md
  src/pgrubic/core/config.py
  src/pgrubic/core/formatter.py
  src/pgrubic/pgrubic.toml
  tests/fixtures/formatters/dml/select.yml
  tests/fixtures/formatters/dml/typecast.yml
  tests/test_config.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

refactor!: standardize configured streams across formatters
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/visitors.py
  src/pgrubic/formatters/ddl/column.py
  src/pgrubic/formatters/ddl/constraint.py
  src/pgrubic/formatters/ddl/database.py
  src/pgrubic/formatters/ddl/enum.py
  src/pgrubic/formatters/ddl/function.py
  src/pgrubic/formatters/ddl/index.py
  src/pgrubic/formatters/ddl/owner.py
  src/pgrubic/formatters/ddl/rename.py
  src/pgrubic/formatters/ddl/schema.py
  src/pgrubic/formatters/ddl/table.py
  src/pgrubic/formatters/ddl/view.py
  src/pgrubic/formatters/dml/boolean.py
  src/pgrubic/formatters/dml/cte.py
  src/pgrubic/formatters/dml/delete.py
  src/pgrubic/formatters/dml/insert.py
  src/pgrubic/formatters/dml/join.py
  src/pgrubic/formatters/dml/select.py
  src/pgrubic/formatters/dml/typecast.py
  src/pgrubic/formatters/dml/update.py
  tests/fixtures/rules/inline.yml
  tests/test_formatters.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

refactor!: fix coverage
  tests/fixtures/rules/inline.yml
Due: check-yaml, yamllint

refactor!: address comments
  src/pgrubic/core/formatter.py
  src/pgrubic/formatters/ddl/table.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

refactor!: standardize configured streams across formatters (#247)
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/visitors.py
  src/pgrubic/formatters/ddl/column.py
  src/pgrubic/formatters/ddl/constraint.py
  src/pgrubic/formatters/ddl/database.py
  src/pgrubic/formatters/ddl/enum.py
  src/pgrubic/formatters/ddl/function.py
  src/pgrubic/formatters/ddl/index.py
  src/pgrubic/formatters/ddl/owner.py
  src/pgrubic/formatters/ddl/rename.py
  src/pgrubic/formatters/ddl/schema.py
  src/pgrubic/formatters/ddl/table.py
  src/pgrubic/formatters/ddl/view.py
  src/pgrubic/formatters/dml/boolean.py
  src/pgrubic/formatters/dml/cte.py
  src/pgrubic/formatters/dml/delete.py
  src/pgrubic/formatters/dml/insert.py
  src/pgrubic/formatters/dml/join.py
  src/pgrubic/formatters/dml/select.py
  src/pgrubic/formatters/dml/typecast.py
  src/pgrubic/formatters/dml/update.py
  tests/fixtures/rules/inline.yml
  tests/test_formatters.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

Path conditions:
  add-trailing-comma: any of: \.py$
  check-ast: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  isort: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  interrogate: any of: \.py$
  bandit: any of: \.py$
