Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

.pre-commit-config.yaml:

---
default_language_version:
  python: python3.12

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: local
    hooks:
      - id: conventional-pre-commit
        name: Lint commit messages
        entry: conventional-pre-commit
        language: python
        always_run: true
        stages: [commit-msg]
        args: []
      - id: trailing-whitespace
        stages: [pre-commit]
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
      - id: end-of-file-fixer
        stages: [pre-commit]
        name: Add a blank line at end of a file
        entry: end-of-file-fixer
        language: python
        types: [text]
      - id: mixed-line-ending
        stages: [pre-commit]
        name: Ensure line feed character (LF)
        entry: mixed-line-ending
        language: python
        types: [text]
        args: [--fix=lf]
      - id: add-trailing-comma
        stages: [pre-commit]
        name: Add trailing commas
        entry: add-trailing-comma
        language: python
        types: [python]
      - id: check-ast
        stages: [pre-commit]
        name: Check that files parse as valid python
        entry: check-ast
        language: python
        types: [python]
      - id: check-yaml
        stages: [pre-commit]
        name: Check yaml
        entry: check-yaml
        language: python
        types: [yaml]
        args: [--unsafe]
      # Formatters should be run late so that they can re-format
      # any prior changes
      - id: ruff
        stages: [pre-commit]
        name: Formatting with ruff
        entry: ruff
        language: python
        args: [format]
        types: [python]
      - id: isort
        stages: [pre-commit]
        name: Ensure imports are grouped and sorted
        entry: isort
        language: python
        types: [python]
        args: [--check, --diff, --profile=black]
      - id: yamllint
        stages: [pre-commit]
        name: Lint yaml files
        entry: yamllint
        language: python
        types: [yaml]
      - id: ruff
        stages: [pre-commit]
        name: Lint with ruff
        entry: ruff
        language: python
        args: [check, --fix]
        types: [python]
      - id: mypy
        stages: [pre-commit]
        name: Type checking with mypy
        additional_dependencies: [types-PyYAML]
        entry: mypy
        language: python
        types: [python]
        args: [--config-file=./pyproject.toml]

chore(release): ensure docker image publish depends on build
  .github/workflows/release.yml
Due: check-yaml, yamllint

chore(release): ensure docker image publish depends on build (#78)
  .github/workflows/release.yml
Due: check-yaml, yamllint

chore(bump): version 0.5.1 → 0.5.2
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

chore(bump): version 0.5.1 → 0.5.2 (#79)
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

Rectify pglast GitHub URL
  README.md
Due: none

docs: rectify pglast GitHub URL (#80)
  README.md
Due: none

chore(bump): version 0.5.2 → 0.5.3
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

docs: fix pglast github url
  docs/docs/index.md
Due: none

docs: fix pglast github url (#82)
  docs/docs/index.md
Due: none

chore(bump): version 0.5.2 → 0.5.3 (#81)
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
Due: none

feat: flag returning *
  pyproject.toml
  src/pgrubic/rules/general/GN028.py
  tests/fixtures/rules/general/GN028.yml
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

chore: little formatting
  docs/settings_doc_generator.py
  pyproject.toml
  tests/test_filters.py
  tests/test_formatters.py
  tests/test_rules.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

chore: add missing deps to pyproject
  pyproject.toml
Due: none

chore: do not quote casts
  docs/settings_doc_generator.py
  pyproject.toml
  tests/test_formatters.py
  tests/test_rules.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

feat: flag returning * (#86)
  pyproject.toml
  src/pgrubic/rules/general/GN028.py
  tests/fixtures/rules/general/GN028.yml
  tests/test_filters.py
  tests/test_formatters.py
  tests/test_rules.py
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

ci: use package versions from pyproject.toml in tox environments
  pyproject.toml
Due: none

ci: we need to allow install to use dependencies from pyproject.toml
  pyproject.toml
Due: none

ci: no need for allowlist_externals for installed packages
  pyproject.toml
Due: none

ci: setup security scanning with bandit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  pyproject.toml
Due: check-yaml, yamllint

ci: declare extras in the main tox environment
  pyproject.toml
Due: none

chore: update license definition
  pyproject.toml
Due: none

docs: build project normally instead of editable
  pyproject.toml
Due: none

docs: skip installing non core dependencies
  pyproject.toml
Due: none

docs: guide for setting up development environment, lowercase pgrubic
  CONTRIBUTING.md
  README.md
  docs/docs/index.md
  pyproject.toml
Due: none

docs: remove duplicate contributing guide
  CONTRIBUTING.md
  README.md
  docs/docs/contributing.md
Due: none

ci: use package versions from pyproject.toml in tox environments, integrate security checks with bandit (#88)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  docs/docs/contributing.md
  docs/docs/index.md
  pyproject.toml
Due: check-yaml, yamllint

docs: improve contributing guide
  docs/docs/contributing.md
Due: none

docs: improve contributing guide (#90)
  docs/docs/contributing.md
Due: none

fix: bring back noqadirective as a dataclass
  src/pgrubic/core/noqa.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy
