Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

add-trailing-comma:
  stages:
  - pre-commit
  name: Add trailing commas
  entry: add-trailing-comma
  language: python

check-ast:
  stages:
  - pre-commit
  name: Check that files parse as valid python
  entry: check-ast
  language: python

check-yaml:
  stages:
  - pre-commit
  name: Check yaml
  entry: check-yaml
  language: python
  args:
  - --unsafe

yamllint:
  stages:
  - pre-commit
  name: Lint yaml files
  entry: yamllint
  language: python
  args:
  - --strict

isort:
  stages:
  - pre-commit
  name: Ensure imports are grouped and sorted
  entry: isort
  language: python
  args:
  - --check
  - --diff
  - --profile=black

ruff:
  stages:
  - pre-commit
  name: Formatting with ruff
  entry: ruff
  language: python
  args:
  - format

mypy:
  stages:
  - pre-commit
  name: Type checking with mypy
  additional_dependencies:
  - types-PyYAML
  entry: mypy
  language: python
  args:
  - --config-file=./pyproject.toml

interrogate:
  name: Docstrings coverage
  entry: interrogate
  language: python
  args:
  - --quiet
  - --fail-under=100
  - --config=./pyproject.toml

bandit:
  name: Security analysis with bandit
  entry: bandit
  language: python
  args:
  - --recursive
  - --config=./pyproject.toml

feat(linter): add enhanced string parsing for DO blocks in function parameters
  src/pgrubic/core/config.py
  src/pgrubic/core/do_block.py
  src/pgrubic/core/function_handlers.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/string_parser.py
  src/pgrubic/pgrubic.toml
  tests/test_enhanced_string_parsing.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

refactor: simplify extract statements logic
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/noqa.py
  tests/test_noqa.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

refactor: process file ignores and skip format independent of the statements
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/noqa.py
  tests/test_noqa.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

refactor: process lint ignore and format skip per statement instead of statements
  src/pgrubic/__main__.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/noqa.py
  tests/test_noqa.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: add tests for skipping formatting of whole file
  src/pgrubic/core/noqa.py
  tests/fixtures/formatters/skip_format.yml
  tests/test_linter.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat: update doc about skipping formatting of a file
  docs/docs/formatter.md
Due: none

feat: fix erroneous comment
  src/pgrubic/core/noqa.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: fix lint ignores extraction
  src/pgrubic/core/linter.py
  src/pgrubic/core/noqa.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: fix lint ignores extraction
  src/pgrubic/core/linter.py
  src/pgrubic/core/noqa.py
  tests/test_noqa.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: add support for skipping formatting of a whole file, simplify statements extraction, improve column offset for noqa directives (#108)
  docs/docs/formatter.md
  src/pgrubic/__main__.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/noqa.py
  tests/fixtures/formatters/skip_format.yml
  tests/test_linter.py
  tests/test_noqa.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

build(deps): fix lint issues
  .github/workflows/ci.yml
  pyproject.toml
  src/pgrubic/__main__.py
  src/pgrubic/core/filters.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

build(deps): separate lint with fix
  .github/workflows/ci.yml
  pyproject.toml
Due: check-yaml, yamllint

feat(linter): extract inline statetements from plpgsql for linting
  pyproject.toml
  src/pgrubic/core/__init__.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/noqa.py
  src/pgrubic/core/visitors.py
  src/pgrubic/formatters/ddl/function.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: use correct variable
  src/pgrubic/core/noqa.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: generation of fixed source code when there are no fixes
  src/pgrubic/core/linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: extra new lines when we are unable to generate fixed source code or source code is unparseable
  src/pgrubic/core/linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: add test
  tests/test_linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: generation of fixed source code when there are no fixes, extra new lines when we are unable to generate fixed source code or source code is unparseable (#125)
  src/pgrubic/core/linter.py
  tests/test_linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: handle config errors
  src/pgrubic/__main__.py
  src/pgrubic/core/config.py
  src/pgrubic/core/errors.py
  tests/test_cli.py
  tests/test_config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: update tests
  tests/test_cli.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: update tests
  tests/test_cli.py
  tests/test_config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: handle config errors (#126)
  src/pgrubic/__main__.py
  src/pgrubic/core/config.py
  src/pgrubic/core/errors.py
  tests/test_cli.py
  tests/test_config.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: generation of fixes
  tests/test_linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix: ensure fixes are tracked on statement and file level
  src/pgrubic/core/linter.py
  tests/test_linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(linter): ensure fixes are tracked on statement and file level, ensure unfixed statement are not discarded (#129)
  src/pgrubic/core/linter.py
  tests/test_linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

build(deps): sync docker base images
  Dockerfile
Due: none

build(deps): sync docker base images (#132)
  Dockerfile
Due: none

feat(linter): add tests for linting of sql statements in a function call
  src/pgrubic/core/linter.py
  tests/fixtures/rules/plpgsql.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat: extend plpgsql visitor to function calls
  src/pgrubic/core/linter.py
  src/pgrubic/core/visitors.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat: add tests for sql statement extraction from plpgsql
  src/pgrubic/core/linter.py
  tests/fixtures/rules/plpgsql.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

feat(linter): set zip to strict
  src/pgrubic/core/linter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

Path conditions:
  add-trailing-comma: any of: \.py$
  check-ast: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  isort: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  interrogate: any of: \.py$
  bandit: any of: \.py$
