Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

.pre-commit-config.yaml:

---
default_language_version:
  python: python3.12

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: local
    hooks:
      - id: conventional-pre-commit
        name: Lint commit messages
        entry: conventional-pre-commit
        language: python
        always_run: true
        stages: [commit-msg]
        args: []
      - id: trailing-whitespace
        stages: [pre-commit]
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
      - id: end-of-file-fixer
        stages: [pre-commit]
        name: Add a blank line at end of a file
        entry: end-of-file-fixer
        language: python
        types: [text]
      - id: mixed-line-ending
        stages: [pre-commit]
        name: Ensure line feed character (LF)
        entry: mixed-line-ending
        language: python
        types: [text]
        args: [--fix=lf]
      - id: add-trailing-comma
        stages: [pre-commit]
        name: Add trailing commas
        entry: add-trailing-comma
        language: python
        types: [python]
      - id: check-ast
        stages: [pre-commit]
        name: Check that files parse as valid python
        entry: check-ast
        language: python
        types: [python]
      - id: check-yaml
        stages: [pre-commit]
        name: Check yaml
        entry: check-yaml
        language: python
        types: [yaml]
        args: [--unsafe]
      # Formatters should be run late so that they can re-format
      # any prior changes
      - id: ruff
        stages: [pre-commit]
        name: Formatting with ruff
        entry: ruff
        language: python
        args: [format]
        types: [python]
      - id: isort
        stages: [pre-commit]
        name: Ensure imports are grouped and sorted
        entry: isort
        language: python
        types: [python]
        args: [--check, --diff, --profile=black]
      - id: yamllint
        stages: [pre-commit]
        name: Lint yaml files
        entry: yamllint
        language: python
        types: [yaml]
      - id: ruff
        stages: [pre-commit]
        name: Lint with ruff
        entry: ruff
        language: python
        args: [check, --fix]
        types: [python]
      - id: mypy
        stages: [pre-commit]
        name: Type checking with mypy
        additional_dependencies: [types-PyYAML]
        entry: mypy
        language: python
        types: [python]
        args: [--config-file=./pyproject.toml]

ci: build dist
  .github/workflows/ci.yml
Due: check-yaml, yamllint

chore: install gitpython for typing
  pyproject.toml
Due: none

test: replace os separator on windows with '/'
  tests/test_filters.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

feat: respect gitignore (#37)
  .github/workflows/ci.yml
  docs/docs/settings.md
  pyproject.toml
  src/pgrubic/__main__.py
  src/pgrubic/core/config.py
  src/pgrubic/core/filters.py
  src/pgrubic/pgrubic.toml
  tests/test_filters.py
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

docs: fix example for respect gitignore
  docs/docs/settings.md
  src/pgrubic/core/config.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

docs: fix example for respect gitignore (#38)
  docs/docs/settings.md
  src/pgrubic/core/config.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

build: first try at publishing docker image
  .github/workflows/release.yml
Due: check-yaml, yamllint

build: handle error when git is not installed, create dockerfile
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/doc.yml
  .github/workflows/release.yml
  Dockerfile
  src/pgrubic/core/filters.py
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

build: create images for both amd and arm
  .github/workflows/release.yml
Due: check-yaml, yamllint

build: create docker images as part of the release
  .github/workflows/release.yml
Due: check-yaml, yamllint

ci: set permissions for workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: check-yaml, yamllint

ci: update bump-version env to prepare-release, we only release with tags
  .github/workflows/release.yml
  pyproject.toml
  src/pgrubic/core/filters.py
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

build: release-docker-image (#39)
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/doc.yml
  .github/workflows/release.yml
  Dockerfile
  pyproject.toml
  src/pgrubic/core/filters.py
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

fix: printing of empty lines from format diff
  src/pgrubic/__main__.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

fix: printing of empty lines from format diff (#40)
  src/pgrubic/__main__.py
Due: add-trailing-comma, check-ast, ruff, isort, mypy

feat: enable SM001 for DMLs except subqueries
  src/pgrubic/rules/schema/SM001.py
  tests/fixtures/rules/schema/SM001.yml
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

test: test unqualified object in cte
  tests/fixtures/rules/schema/SM001.yml
Due: check-yaml, yamllint

feat: enable SM001 for DMLs except subqueries (#41)
  src/pgrubic/rules/schema/SM001.py
  tests/fixtures/rules/schema/SM001.yml
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

feat: add docker images (#39)
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/doc.yml
  .github/workflows/release.yml
  Dockerfile
  pyproject.toml
  src/pgrubic/core/filters.py
Due: add-trailing-comma, check-ast, check-yaml, ruff, isort, yamllint, mypy

chore: update commitizen config
  pyproject.toml
Due: none

chore: update commitizen bump message (#43)
  pyproject.toml
Due: none

chore(bump): version 0.2.0 → 0.3.0
  CHANGELOG.md
  pyproject.toml
Due: none

chore(changelog): add entry for docker images
  CHANGELOG.md
Due: none

Release 0.3.0 (#44)
  CHANGELOG.md
  pyproject.toml
Due: none
