Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

.pre-commit-config.yaml:

---
default_language_version:
  python: python3.12

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: local
    hooks:
      - id: conventional-pre-commit
        name: Lint commit messages
        entry: conventional-pre-commit
        language: python
        stages: [commit-msg]
      - id: trailing-whitespace
        stages: [pre-commit]
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
      - id: end-of-file-fixer
        stages: [pre-commit]
        name: Add a blank line at end of a file
        entry: end-of-file-fixer
        language: python
        types: [text]
      - id: mixed-line-ending
        stages: [pre-commit]
        name: Ensure line feed character (LF)
        entry: mixed-line-ending
        language: python
        types: [text]
        args: [--fix=lf]
      - id: add-trailing-comma
        stages: [pre-commit]
        name: Add trailing commas
        entry: add-trailing-comma
        language: python
        types: [python]
      - id: check-ast
        stages: [pre-commit]
        name: Check that files parse as valid python
        entry: check-ast
        language: python
        types: [python]
      - id: check-yaml
        stages: [pre-commit]
        name: Check yaml
        entry: check-yaml
        language: python
        types: [yaml]
        args: [--unsafe]
      - id: yamllint
        stages: [pre-commit]
        name: Lint yaml files
        entry: yamllint
        language: python
        types: [yaml]
        args: [--strict]
      - id: isort
        stages: [pre-commit]
        name: Ensure imports are grouped and sorted
        entry: isort
        language: python
        types: [python]
        args: [--check, --diff, --profile=black]
      - id: ruff
        stages: [pre-commit]
        name: Lint with ruff
        entry: ruff
        language: python
        args: [check, --fix, --config, ./pyproject.toml]
        types: [python]
      - id: mypy
        stages: [pre-commit]
        name: Type checking with mypy
        additional_dependencies: [types-PyYAML]
        entry: mypy
        language: python
        types: [python]
        args: [--config-file=./pyproject.toml]
      - id: interrogate
        name: Docstrings coverage
        entry: interrogate
        language: python
        types: [python]
        args: [--quiet, --fail-under=100, --config=./pyproject.toml]
      - id: bandit
        name: Security analysis with bandit
        entry: bandit
        language: python
        types: [python]
        args: [--recursive, --config=./pyproject.toml]
      # Formatters should be run late so that they can re-format
      # any prior changes
      - id: ruff
        stages: [pre-commit]
        name: Formatting with ruff
        entry: ruff
        language: python
        args: [format]
        types: [python]

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.11.0-1
    hooks:
      - id: shfmt
        name: Format shell scripts
        entry: shfmt
        args: [--indent=4]
        stages: [pre-commit]
        types: [shell]

feat(core): replace msgpack with msgspec
  pyproject.toml
  src/pgrubic/core/cache.py
  uv.lock
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

feat(core): replace msgpack with msgspec (#296)
  pyproject.toml
  src/pgrubic/core/cache.py
  uv.lock
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

docs(formatter): document top-of-statement comment placement
  docs/docs/formatter.md
  src/pgrubic/core/noqa.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

docs(formatter): document top-of-statement comment placement (#298)
  docs/docs/formatter.md
  src/pgrubic/core/noqa.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(formatter): place comments on a separate line before statements
  src/pgrubic/core/formatter.py
  tests/fixtures/formatters/comments.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

fix(formatter): place comments on a separate line before statements
  src/pgrubic/core/noqa.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(formatter): place comments on a separate line before statements
  src/pgrubic/core/formatter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(formatter): place comments on their own line (#299)
  src/pgrubic/core/formatter.py
  src/pgrubic/core/noqa.py
  tests/fixtures/formatters/comments.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

fix(formatter): print actual function body in sql conforming functions, make DO block body idempotent
  src/pgrubic/formatters/ddl/function.py
  tests/fixtures/formatters/ddl/function.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

fix(formatter): add a comment on do body being parsed as 'as' option
  src/pgrubic/formatters/ddl/function.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(formatter): print options only if they exist
  src/pgrubic/formatters/ddl/function.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(formatter): test for idempotence of formatters
  tests/test_formatters.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(formatter): print actual function bodies in sql conforming functions, make DO block bodies idempotent (#300)
  src/pgrubic/formatters/ddl/function.py
  tests/fixtures/formatters/ddl/function.yml
  tests/test_formatters.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

chore(release): release 3.1.0
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
  uv.lock
Due: none

chore(release): release 3.1.0 (#302)
  CHANGELOG.md
  README.md
  docs/docs/tutorial.md
  pyproject.toml
  uv.lock
Due: none

refactor(formatter)!: centralize AST rendering
  src/pgrubic/core/formatter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

refactor(formatter)!: centralize AST rendering (#301)
  src/pgrubic/core/formatter.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(formatter): report correct line numbers for errors
  src/pgrubic/core/formatter.py
  tests/test_cli.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

fix(formatter): report correct line numbers for errors (#303)
  src/pgrubic/core/formatter.py
  tests/test_cli.py
Due: add-trailing-comma, check-ast, isort, ruff, mypy, interrogate, bandit

test: migrate core and CLI cases to YAML fixtures
  tests/conftest.py
  tests/fixtures/cli/format.yml
  tests/fixtures/cli/lint.yml
  tests/fixtures/core/formatter.yml
  tests/fixtures/core/linter.yml
  tests/fixtures/formatters/dml/typecast.yml
  tests/test_cli.py
  tests/test_formatter.py
  tests/test_formatters.py
  tests/test_linter.py
  tests/test_rules.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

test: migrate core and CLI cases to YAML fixtures
  tests/fixtures/cli/format.yml
  tests/fixtures/cli/lint.yml
  tests/fixtures/core/formatter.yml
  tests/fixtures/core/linter.yml
  tests/test_cli.py
  tests/test_linter.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

test: simplify fixture parametrization and CLI assertions
  tests/conftest.py
  tests/fixtures/cli/format.yml
  tests/fixtures/cli/lint.yml
  tests/test_cli.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

test: remove redundant test
  tests/fixtures/formatters/dml/typecast.yml
Due: check-yaml, yamllint

test: migrate core and CLI cases to YAML fixtures (#304)
  tests/conftest.py
  tests/fixtures/cli/format.yml
  tests/fixtures/cli/lint.yml
  tests/fixtures/core/formatter.yml
  tests/fixtures/core/linter.yml
  tests/test_cli.py
  tests/test_formatter.py
  tests/test_formatters.py
  tests/test_linter.py
  tests/test_rules.py
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

fix(linter): normalize spacing when rebuilding fixed SQL
  src/pgrubic/core/linter.py
  tests/fixtures/core/linter.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit

fix(linter): normalize spacing when rebuilding fixed SQL (#305)
  src/pgrubic/core/linter.py
  tests/fixtures/core/linter.yml
Due: add-trailing-comma, check-ast, check-yaml, yamllint, isort, ruff, mypy, interrogate, bandit
