Repository bolajiwahab/pgrubic: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

add-trailing-comma:
  name: Add trailing commas
  entry: add-trailing-comma
  language: python

check-yaml:
  name: Check yaml
  entry: check-yaml
  language: python
  args:
  - --unsafe

ruff:
  name: Lint with ruff
  entry: ruff
  language: python
  args:
  - check
  - --fix

isort:
  name: Ensure imports are grouped and sorted
  entry: isort
  language: python
  args:
  - --check
  - --diff
  - --profile=black

yamllint:
  name: Lint yaml files
  entry: yamllint
  language: python

mypy:
  name: Type checking with mypy
  entry: mypy
  language: python
  args:
  - --config-file=./pyproject.toml

Add support for base config
  pgrubic.toml
  pyproject.toml
  src/pgrubic/core/config.py
  src/pgrubic/pgrubic.toml
Due: add-trailing-comma, ruff, isort, mypy

Update coverage data
  README.md
  data.json
Due: none

Small cleanup, updated documentation url, added readme
  src/pgrubic/rules/unsafe/US011.py
Due: add-trailing-comma, ruff, isort, mypy

Cache config
  tests/test_entry.py
Due: add-trailing-comma, ruff, isort, mypy

Introduce click, Implement lint as a subcommand
  tests/test_entry.py
Due: add-trailing-comma, ruff, isort, mypy

Exit code 1 when there are still violations after fix, test cli
  src/pgrubic/rules/unsafe/US011.py
  tests/test_entry.py
Due: add-trailing-comma, ruff, isort, mypy

Add format command, update documentation for unsafe
  src/pgrubic/core/formatter.py
Due: add-trailing-comma, ruff, isort, mypy

Implement file ignore, deduplicate source file with set, add operators, add line number to violation
  tests/test_noqa.py
Due: add-trailing-comma, ruff, isort, mypy

Make formatter modular, add tests for formatter, improve coverage
  tests/test_entry.py
  tests/test_noqa.py
Due: add-trailing-comma, ruff, isort, mypy

Improvement to formatters
  src/pgrubic/__init__.py
  src/pgrubic/__main__.py
  src/pgrubic/core/__init__.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/loader.py
  src/pgrubic/formatters/ddl/__init__.py
  src/pgrubic/formatters/ddl/alter_enum.py
  src/pgrubic/formatters/ddl/alter_table.py
  src/pgrubic/formatters/ddl/create_enum.py
  src/pgrubic/formatters/ddl/create_index.py
  src/pgrubic/formatters/ddl/create_table.py
  src/pgrubic/formatters/dml/__init__.py
  src/pgrubic/formatters/dml/select.py
  src/test.sql
  tests/conftest.py
  tests/test_format.py
Due: add-trailing-comma, ruff, isort, mypy

Improve readme
  README.md
  src/pgrubic/core/loader.py
Due: add-trailing-comma, ruff, isort, mypy

Add documentation step
  CONTRIBUTING.md
Due: none

Implement skipping formatting for statements
  README.md
  src/pgrubic/__main__.py
  src/pgrubic/core/__init__.py
  src/pgrubic/core/config.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/noqa.py
  src/pgrubic/pgrubic.toml
  tests/test_cli.py
  tests/test_format.py
Due: add-trailing-comma, ruff, isort, mypy

V1.0.0 (#8)
  CONTRIBUTING.md
  README.md
  src/pgrubic/__init__.py
  src/pgrubic/__main__.py
  src/pgrubic/core/__init__.py
  src/pgrubic/core/config.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/loader.py
  src/pgrubic/core/noqa.py
  src/pgrubic/formatters/ddl/__init__.py
  src/pgrubic/formatters/ddl/alter_enum.py
  src/pgrubic/formatters/ddl/alter_table.py
  src/pgrubic/formatters/ddl/create_enum.py
  src/pgrubic/formatters/ddl/create_index.py
  src/pgrubic/formatters/ddl/create_table.py
  src/pgrubic/formatters/dml/__init__.py
  src/pgrubic/formatters/dml/select.py
  src/pgrubic/pgrubic.toml
  src/test.sql
  tests/conftest.py
  tests/test_cli.py
  tests/test_format.py
Due: add-trailing-comma, ruff, isort, mypy

Added new config new-line-before-semicolon, improve select formatters, added formatters for insert and update
  README.md
  src/pgrubic/__main__.py
  src/pgrubic/core/config.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/formatters/dml/insert.py
  src/pgrubic/formatters/dml/select.py
  src/pgrubic/formatters/dml/update.py
  src/pgrubic/pgrubic.toml
  tests/test_format.py
Due: add-trailing-comma, ruff, isort, mypy

Parameterise tests for formatters
  .pre-commit-config.yaml
  .yamllint
  pyproject.toml
  src/pgrubic/core/linter.py
  src/pgrubic/formatters/ddl/create_table.py
  src/pgrubic/formatters/dml/select.py
  src/test.sql
  tests/conftest.py
  tests/fixtures/formatters/select.yml
  tests/general/test_GN014.py
  tests/test_formatters.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

More work on formatters
  src/pgrubic/formatters/dml/boolean.py
  src/pgrubic/formatters/dml/cte.py
  src/pgrubic/formatters/dml/insert.py
  src/pgrubic/formatters/dml/join.py
  src/pgrubic/formatters/dml/select.py
  src/test.sql
  tests/fixtures/formatters/cte.yml
  tests/fixtures/formatters/delete.yml
  tests/fixtures/formatters/insert.yml
  tests/fixtures/formatters/select.yml
  tests/fixtures/formatters/update.yml
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

Add variable for new line
  src/pgrubic/__main__.py
  src/pgrubic/core/formatter.py
  src/pgrubic/core/noqa.py
  src/pgrubic/formatters/dml/delete.py
Due: add-trailing-comma, ruff, isort, mypy

Add formatter for delete and subquery
  src/pgrubic/formatters/dml/select.py
  src/pgrubic/formatters/dml/update.py
  tests/fixtures/formatters/select.yml
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

Do not format non violating statements
  src/pgrubic/core/formatter.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/loader.py
  src/pgrubic/core/noqa.py
Due: add-trailing-comma, ruff, isort, mypy

Do not override config if cli configs are not provided by user
  src/pgrubic/__main__.py
  src/pgrubic/core/linter.py
Due: add-trailing-comma, ruff, isort, mypy

Fix tests
  src/pgrubic/core/config.py
  src/pgrubic/ideas.txt
  src/test.sql
  tests/conftest.py
  tests/test_format.py
  tests/test_linter.py
Due: add-trailing-comma, ruff, isort, mypy

More tests for formatters
  src/pgrubic/formatters/dml/delete.py
  tests/fixtures/formatters/delete.yml
  tests/fixtures/formatters/select.yml
  tests/fixtures/formatters/update.yml
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

Add coverage badge
  README.md
Due: none

Add logger, support setting environment variable for config file path, add target postgres version config
  README.md
  src/pgrubic/__init__.py
  src/pgrubic/__main__.py
  src/pgrubic/core/__init__.py
  src/pgrubic/core/config.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/logging.py
  src/pgrubic/pgrubic.toml
Due: add-trailing-comma, ruff, isort, mypy

Add support for config directory from env variable
  pyproject.toml
  src/pgrubic/core/cache.py
  src/pgrubic/core/config.py
  src/pgrubic/core/linter.py
  src/pgrubic/core/noqa.py
  src/pgrubic/pgrubic.toml
  tests/conftest.py
  tests/fixtures/formatters/skip_format.yml
  tests/fixtures/rules/GN001.yml
  tests/test_cli.py
  tests/test_format.py
  tests/test_formatters.py
  tests/test_rules.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

Print special functions
  src/pgrubic/core/formatter.py
Due: add-trailing-comma, ruff, isort, mypy

Improve typing
  src/pgrubic/core/loader.py
Due: add-trailing-comma, ruff, isort, mypy

Fixtures for constraint and schema rules
  src/new.sql
  src/pgrubic/formatters/ddl/constraint.py
  src/pgrubic/rules/constraint/CT001.py
  tests/conftest.py
  tests/constraint/__init__.py
  tests/constraint/test_CST001.py
  tests/constraint/test_CST002.py
  tests/constraint/test_CST003.py
  tests/constraint/test_CST004.py
  tests/fixtures/rules/constraint/CT001.yml
  tests/fixtures/rules/constraint/CT002.yml
  tests/fixtures/rules/constraint/CT003.yml
  tests/fixtures/rules/constraint/CT004.yml
  tests/fixtures/rules/general/GN001.yml
  tests/fixtures/rules/schema/SM001.yml
  tests/fixtures/rules/schema/SM002.yml
  tests/schema/__init__.py
  tests/schema/test_SCM001.py
  tests/schema/test_SCM002.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

Fixtures for security rules
  tests/fixtures/rules/schema/SM002.yml
  tests/fixtures/rules/security/ST001.yml
  tests/fixtures/rules/security/ST002.yml
  tests/security/__init__.py
  tests/security/test_ST001.py
  tests/security/test_ST002.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

Fixtures for typing rules
  tests/fixtures/rules/general/GN020.yml
  tests/typing/test_TP001.py
  tests/typing/test_TP002.py
  tests/typing/test_TP003.py
  tests/typing/test_TP004.py
  tests/typing/test_TP005.py
  tests/typing/test_TP006.py
  tests/typing/test_TP008.py
  tests/typing/test_TP009.py
  tests/typing/test_TP010.py
  tests/typing/test_TP011.py
  tests/typing/test_TP012.py
  tests/typing/test_TP013.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

Fixtures for typing rules
  tests/fixtures/rules/typing/TP001.yml
  tests/fixtures/rules/typing/TP0010.yml
  tests/fixtures/rules/typing/TP0011.yml
  tests/fixtures/rules/typing/TP002.yml
  tests/fixtures/rules/typing/TP003.yml
  tests/fixtures/rules/typing/TP004.yml
  tests/fixtures/rules/typing/TP005.yml
  tests/fixtures/rules/typing/TP006.yml
  tests/fixtures/rules/typing/TP008.yml
  tests/fixtures/rules/typing/TP009.yml
  tests/fixtures/rules/typing/TP012.yml
  tests/fixtures/rules/typing/TP013.yml
Due: check-yaml, yamllint

Fixtures for typing rules
  src/new.sql
  src/pgrubic/core/config.py
  src/pgrubic/rules/typing/TP007.py
  src/pgrubic/rules/typing/TP014.py
  tests/conftest.py
  tests/fixtures/rules/typing/TP0010.yml
  tests/fixtures/rules/typing/TP0011.yml
  tests/fixtures/rules/typing/TP004.yml
  tests/fixtures/rules/typing/TP005.yml
  tests/fixtures/rules/typing/TP006.yml
  tests/fixtures/rules/typing/TP007.yml
  tests/fixtures/rules/typing/TP008.yml
  tests/fixtures/rules/typing/TP009.yml
  tests/fixtures/rules/typing/TP012.yml
  tests/fixtures/rules/typing/TP013.yml
  tests/fixtures/rules/typing/TP014.yml
  tests/typing/test_TP007.py
  tests/typing/test_TP014.py
Due: add-trailing-comma, check-yaml, ruff, isort, yamllint, mypy

Path conditions:
  add-trailing-comma: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
  ruff: any of: \.py$
  isort: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  mypy: any of: \.py$
